[2012-10-09 08:16] net147 opened #25 "Can't build if home directory has space"
If the home directory has a space (e.g. /home/My User), the build script fails to work properly due to insufficient quoting and escaping.

[2012-10-09 11:25] #25 closed, assigned to nobody

[2012-10-15 10:14] net147 opened #27 "GCC 4.7.2 SEH Support for 64-bit"
GCC 4.7.2 should have SEH support for 64-bit. Is it possible to enable it?
I heard you can enable it by not specifying any exception handling to configure.

[2012-10-15 11:04] #27 closed, assigned to nobody

[2012-12-13 09:09] net147 opened #82 "mingw-w64 tools missing in 32-bit build"
x32-4.7.2-release-posix-sjlj-rev3.7z doesn't contain gendef, genidl, genpeimg, widl but x64-4.7.2-release-posix-sjlj-rev3.7z does.

[2012-12-13 09:12] #82 closed, assigned to nobody

[2012-12-19 10:38] net147 opened #86 "gdb-wrapper: gdborig.exe still running after gdb.exe terminated"
If gdb.exe is terminated using End Process in Task Manager, gdborig.exe is still running.

[2012-12-23 15:55] #86 closed, assigned to niXman

[2013-01-01 08:04] lygstate opened #115 "mingw didn't support eclipse on Win32."
mingw-builds didn't support eclipse on Win32.
Eclipse win32 support for TDM-mingw, don't know why it's doesn't recognize mingw-builds
I tried the following release packages.
 x32-4.7.2-release-posix-dwarf-rev5
 x32-4.7.2-release-posix-dwarf-rev5.7z
 x32-4.7.2-release-posix-sjlj-rev5
 x32-4.7.2-release-posix-sjlj-rev5.7z
 x32-4.7.2-release-win32-dwarf-rev5
 x32-4.7.2-release-win32-dwarf-rev5.7z
 x3

[2013-01-01 16:12] #115 closed, assigned to nobody

[2013-01-02 12:47] net147 opened #118 "Bug in thiscall-thunks"
In some cases, GCC generates code incorrectly which makes GDB unable to generate a proper stack trace. This can be observed with GCC 4.6.3 and 4.7.2 64-bit for example.

Upstream patch: http://gcc.gnu.org/git/?p=gcc.git;a=patch;h=f67e2d48d4c6681dec397577a6a663e596881ab7;hp=0ae5012d0b020670979570dbc075734c19c88d93

Test case:

[code]

[2013-01-04 17:51] net147 opened #121 "Fix special cases for C pow()"
Update to MinGW-w64 SVN r5524 to include pow() fixes:
http://mingw-w64.svn.sourceforge.net/viewvc/mingw-w64?view=revision&revision=5521

r5524 includes the __MINGW64_VERSION_RC macro which can be used to check if pow() is fixed.

[2013-01-05 03:32] net147 opened #122 "zlib shouldn't be included"
zlib.h shouldn't be included in the includes directory. If an application adds -I/path/to/zlib/include then it will pick up the GCC zlib.h instead of the zlib.h in the user-specified include directory. This is a regression in GCC 4.7.2 rev 6 build from rev 5. The zconf.h and libz.a files shouldn't be included either.

[2013-01-05 03:51] #122 closed, assigned to nobody

[2013-01-07 12:39] #118 closed, assigned to nobody

[2013-01-08 03:25] lygstate opened #126 "Hope upgrade git to 1.8.0"
The earlier 1.7.6 version didn't support for UTF8  on win32.
So that's a blocker for me..

[2013-01-13 08:15] #121 closed, assigned to nobody

[2013-01-28 08:19] #126 closed, assigned to nobody

[2013-01-31 01:47] net147 opened #138 "gdb - can't import libstdcxx.v6.printers"
If I run C:\mingw32-4.6.3\bin\gdb, I get the following error:

Traceback (most recent call last):
  File "<string>", line 3, in <module>
ImportError: No module named libstdcxx.v6.printers
c:\mingw32-4.6.3\bin../etc/gdbinit:6: Error in sourced command file:
Error while executing Python code.

If I do:
cd /d C:\mingw32-4.6.3\bin
gdb

The error disappears.

Compiler: x32-4.6.3-release-posix-sjlj-rev2

[2013-02-01 09:28] net147 opened #142 "gdb - ctrl-c not handled properly"
If ctrl-c is pressed when using gdb through the wrapper, it terminates gdb instantly. The normal behaviour is to interrupt the program if it is running into a gdb prompt. If the program is not running, it will display "Quit (expect signal SIGINT when the program is resumed)" and show the gdb prompt.

[2013-02-01 09:29] #138 closed, assigned to nobody

[2013-02-16 12:25] #142 closed, assigned to nobody

[2013-03-24 05:16] net147 opened #164 "GCC 4.8 DW2 + SEH Multilib"
Would it be possible to get a 32-bit DW2 + 64-bit SEH GCC 4.8.0 multilib compiler?
Perhaps using --disable-sjlj-exceptions --enable-multilib.

[2013-03-25 04:21] net147 opened #165 "Declarations in xmmintrin.h conflict with mingw-w64 intrin.h in c++ mode"
[code]

$ g++ -O2 -msse2 -std=c++11 test.cpp

[code]

Upstream bug report: http://gcc.gnu.org/bugzilla/show_bug.cgi?id=56038

[2013-03-25 04:22] #164 closed, assigned to nobody

[2013-03-26 12:40] #165 closed, assigned to nobody

[2013-08-08 18:19] wojdyr opened #246 "opt\bin\python missing libgcc_s_sjlj-1.dll"
Hi,
thanks maintaining for these builds, they are very helpful.

I'm using `x32-4.8.1-release-posix-dwarf-rev3.7z`
and I've noticed that there is python in `opt`, but it cannot be run because of missing `libgcc_s_sjlj-1.dll`.

[2013-08-17 04:30] starwing opened #256 "options for disable shared?"
hi,

currently mingw-builds's compiler will produce executes that depends on serveral dlls, such like libgcc.dll, etc, can you add a options that makes script build gcc using --disable-shared flag to makes compiled executes without depends?

thx :-)

[2013-09-24 14:33] TheGOro opened #287 "GNU Make issue"
Hi!
I'm trying to build the `mingw-w64-builds` branch on Win7x64 with MSYS2. Everything seems fine, but i got some (linking) problems at the **make_git_bat** stage.

[code]

As i see Alex wrote a similar issue to the `make-w32-gnu` mailing list, which caused by the `configure` script, not the `build_w32.bat` one...

[2013-09-24 15:14] #287 closed, assigned to nobody

[2013-09-30 06:13] #246 closed, assigned to nobody

[2013-09-30 07:50] #256 closed, assigned to nobody

[2013-10-12 23:38] martell opened #318 "Failed to apply patch make/make-no-output-sync.patch at level 3"
It appears the make git repo has been updated to change the #ifdef to #ifndef
which means this patch is not needed any more.
It breaks the build scripts as of v-4.0.0

[2013-10-13 10:29] #318 closed, assigned to nobody

[2013-10-23 04:26] net147 opened #327 "mingw32-make: Interrupt/Exception caught"
Sometimes I am getting errors like the following:
mingw32-make: Interrupt/Exception caught (code = 0xc0000005, addr = 0x000007FEFD2C2020)

Using GNU Make 4.0.90 included with MinGW-builds GCC 4.8.2 64-bit SEH POSIX rev 0 building Qt 5 from git with -j8 after some time. I haven't seen this error before with GNU Make 3.82.

[2013-10-23 20:08] #327 closed, assigned to nobody

[2013-11-30 00:31] martell opened #329 "libtool has gcc dependancy"
Can't built from msys2-base

The alpha packs have libtool pre installed but when using base with pacman libtool requires msys-gcc.

The scripts complain if gcc is found. ( which is why I listed it here)

All that has to be done is and the extracted path to the beginning of the path variable and remove the check.
It should then find the right gcc.

[2013-11-30 01:46] wsmoses opened #330 "Linker Error when compiling GCC"
../../xg++ -B../../ -B../../../x86_64-w64-mingw32/libstdc++-v3/src/.libs -B../../../x86_64-w64-mingw32/libstdc++-v3/libsupc++/.libs -L../../../x86_64-w64-mingw32/libstdc++-v3/src/.libs -L../../../x86_64-w64-mingw32/libstdc++-v3/libsupc++/.libs -static-libstdc++ -static-libgcc -I- -I../rts -I. -I/home/wmoses/src/gcc-trunk/gcc/ada -DIN_GCC  -O2 -pipe -I/home/wmoses/x86_64-trunk-posix-seh-rt_v4/mingw

[2013-11-30 01:51] wsmoses opened #331 "Automatic Toolchain Download"
An option should be added to the main build script to automatically download a recent version of a compatible toolkit from mingw-builds if necessary. Preferably, it should attempt to download the same version toolkit as is being compiled (e.g. if compiling 64-bit seh, it should download a 64-bit seh toolkit) unless told otherwise.

[2013-11-30 03:44] wsmoses opened #332 "Error setting languages"
There seems to be a bug setting the languages.

I used the following.
 ./build --mode=gcc-trunk --arch=x86_64 --exceptions=seh --static-gcc --rt-version=trunk --enable-languages=c,c++,fortran,objc,obj-c++,java,go --threads=posix -march-x64=core-avx-i -mtune-x64=core-avx-i -jobs=8

Yet, when I ran it it had enabled "ada,c,c++,fortran,objc,obj-c++"

To test, I modified gcc-trunk.sh by adding the fol

[2013-11-30 05:03] wsmoses opened #333 "GCC Compilation error caused by -Werror / -fPIC in libbacktrace"
Error occurs when building from gcc-trunk (4.9).

Compilation exits due to message about -fPIC being ignored.

Possible working solution (not necessarily best solution) is to modify x86_64-trunk-posix-seh-rt_v4/build/gcc-trunk/x86_64-w64-mingw32/libbacktrace/Makefile and remove Werror.

[2013-11-30 08:01] #329 closed, assigned to nobody

[2013-12-03 09:56] #332 closed, assigned to nobody

[2013-12-03 09:56] #333 closed, assigned to nobody

[2013-12-03 10:22] #331 closed, assigned to nobody

[2013-12-03 23:21] #330 closed, assigned to nobody

[2013-12-17 14:16] carlkl opened #340 "some problems with mingw-builds develop"
Hi nixman!
I've encountered three problems with building my own fully static gcc toolchain

(1) the mpfr-patch is not working
(2) winpthreads.sh: LINK_TYPE_STATIC is required for static building
(3) usage of _ftime instead of _ftime64 (libgomp, winpthreads) does not work in case of using a non default crt runtime (i.e. mscvr90)

with best Regards

CarlKl

[2013-12-20 16:41] wsmoses opened #341 "Does not download toolchain when using SEH"
An appropriate toolchain is not downloaded when SEH is set as the exceptions model.

When using --exceptions=seh
-> Checking OS bitness... 64-bit
-> Checking OS type... MINGW32_NT-6.2
Checking for 7za... yes
Checking for autoconf... yes
Checking for aclocal... yes
Checking for gettext... yes
Checking for git... yes
Checking for libtool... yes
Checking for lndir... yes
Checking for m4... yes
Checki

[2013-12-25 21:23] #341 closed, assigned to nobody

[2014-06-01 07:04] darcyg opened #361 "In the Ubuntu cross compiler python2.7.6 problem"
Platform: `Ubuntu 14.04`
Have installed the official mingw64 in `/usr/bin` and `/usr/x86_64-w64-mingw32`
Run command:

[code]

How to solve?

[2014-06-01 08:02] #361 closed, assigned to nobody

[2014-06-08 12:30] yysfire opened #362 "cannot find -lstdc++"
Error occurs when building gcc-4.7.3 using branch develop.
args: ./build --mode=gcc-4.7.3 --arch=x86_64 --exceptions=sjlj --static-gcc --rt-version=v3 --threads=posix --enable-languages=c,c++,fortran --bootstrap --bin-compress
make.log:

[code]

make[4]: Leaving directory

[2014-10-10 06:15] ladserg opened #364 "Не компилируется mingw-w64-libraries-libmangle"
Строка запуска:
./build --mode=gcc-4.9.1 --arch=i686 --static-gcc --threads=posix --exceptions=sjlj --bootstrap --jobs=4 --bin-compress

Прерывается на этапе конфигурации, в configure.log последние строки (с матюками):

checking for suffix of executables... .exe
checking whether we are cross compiling... configure: error: in `/home/ladserg/mingw-gcc-4.9.1/i686-491-posix-sjlj-rt_v4-s/build/libmangl

[2014-10-10 09:03] ladserg opened #365 "Остановка на этапе ncurses -> install"
Строка запуска:
./build --mode=gcc-4.9.1 --arch=i686 --static-gcc --threads=posix --exceptions=sjlj --bootstrap --jobs=4 --bin-compress

В install.log в конце следующее:

/bin/sh ./run_tic.sh
/usr/bin/install -c ncurses-config /home/ladserg/mingw-gcc-4.9.1/i686-491-posix-sjlj-rt_v4-s/mingw32/opt/bin/ncursesw5-config
*\* Building terminfo database, please wait...
Running tic to install /mingw32/sha

[2014-10-10 11:35] #364 closed, assigned to nobody

[2014-10-10 12:10] ladserg opened #366 "Не проходит этап tests"
Строка запуска:

    ./build --mode=gcc-4.9.1 --arch=i686 --static-gcc --threads=posix --exceptions=sjlj --bootstrap --jobs=4 --bin-compress

На этапе tests, при тестировании запуска dll_test1.exe выдаётся сообщение:

    This application has requested the Runtime to terminate it in an unusual way.
    Please contact the application's support team for more information.
    terminate called after t

[2014-10-10 20:31] ladserg opened #367 "gdbm не собирается если нет файла /usr/share/gettext/archive.dir.tar.xz"
строка запуска:
    ./build --mode=gcc-4.9.1 --arch=i686 --static-gcc --threads=posix --exceptions=sjlj --bootstrap --jobs=6 --bin-compress

Матюки в консоли:

[code]

Матюки в файле ~/mingw-gcc-4.9.1/src/gdbm-1.10/exec-after_patch-0.log:

[code]

Данный файл находится в пакете gettext-devel, если положить по указанному пути этот файл из пакета gettext-devel, то gdbm компилируется нормально.

[2014-10-10 20:56] #367 closed, assigned to nobody

[2014-10-11 08:54] #362 closed, assigned to nobody

[2014-10-11 16:22] ladserg opened #368 "Не собирается gcc"
строка запуска

[code]

Обрывается на этапе компиляции gcc, в логах такое сообщение:

/home/ladserg/mingw-gcc-4.9.1/i686-491-posix-sjlj-rt_v4/build/gcc-4.9.1/./gcc/xgcc -B/home/ladserg/mingw-gcc-4.9.1/i686-491-posix-sjlj-rt_v4/build/gcc-4.9.1/./gcc/ -L/mingw32/i686-w64-mingw32/lib -L/mingw32/mingw/lib -isystem /mingw32/i686-w64-mingw32/include -isystem /mingw32/mingw/include -B/mingw32/i686-w64-mi

[2014-10-11 16:31] #365 closed, assigned to nobody

[2014-10-12 13:47] ladserg opened #369 "Ошибка на этапе сборки пакета binutils при использовании gcc 4.9.1"
В кратце из-за флага -Wall gcc 4.9.1 некоторые варнинги воспринимает как ошибки, если его удалить из конфигов, то компиляция проходит нормально.

Чуть позже предоставлю патч для binutils.

[2014-10-13 05:05] #369 closed, assigned to nobody

[2014-10-13 05:07] #368 closed, assigned to nobody

[2014-10-13 13:24] ladserg opened #370 "Не собирается gcc с опцией --use -lto"
Строка запуска:

[code]

Используемые тулчайны: 4.9.1-release-posix-sjlj-rt_v3-rev1 и 4.9.1-release-posix-sjlj-rt_v3-rev1 с сайта проекта mingw-64 и свой сборный 4.9.1-release-posix-sjlj-rt_v4

Сообщение в make.log:

[code]

[2014-10-23 19:04] #370 closed, assigned to nobody

[2015-01-28 04:23] Andne opened #379 "LTO test crashes ld when building with dwarf exceptions"
I've been running builds from the develop branch, and am failing one of the tests whenever I build for i686 with dwarf exceptions.  The -flto test generate the following error in lto_int.o-link.log:
[code]
I have built with sjlj exceptions and built x86_64 with seh exceptions and neither build saw any errors.  This is occuring with gcc 4.8.2, gcc 4.8.4, and gcc 4.6.4.  So far I have only built wit

[2015-01-28 20:22] niXman commented on #379
From time to time I faced this bug, but I do not know why it was there...

[2015-01-28 20:22] #379 closed

[2015-01-29 00:38] Andne commented on #379
I'm confused, you've seen this issue but it doesn't always occur on a given build?  If so, then it seems like there's some with a specific build.  If it's an issue that plagues a given configuration, then shouldn't the compiler not be built with that feature or not tested when those settings are in effect?

[2015-01-29 06:13] Andne opened #382 "Include exception type in prereq directory name?"
When I was building various configurations in order to test things, I noticed that the build would skip over steps that it thought had already been done - such as downloading, extracting, building, etc...  It appears that that output directory for MinGW itself is fairly specific, but I started to wonder if the prerequisite directories should also have more detail in their name.  The downloaded com

[2015-01-31 20:05] BrisingrAerowing opened #383 "GCC 32-Bit Dwarf 4.9.2 rev1 internal error"
I get an internal compiler error when using GCC 4.9.2 Dwarf rev1 from MinGW-w64 downloads.

the relevant part of the config.log file is pasted below:

| }

[2015-01-31 20:37] BrisingrAerowing commented on #383
Never mind. User error. I am using some custom specs files for different MSVC versions, and I didn't create import libraries for msvcr120.dll, which I was trying to use. Do'h!

[2015-02-01 12:29] #383 closed

[2015-05-02 13:18] Andne opened #390 "Merge develop and master?"
When I first started trying to use mingw-builds I ran into trouble because I was using the master branch, and was told to use the develop branch.  I've been using it since, but I don't understand why the develop branch is essentially the primary branch instead of master.  Especially since master doesn't work at all currently.  Are there other plans here that I am unaware of, or should develop be m

[2015-05-02 13:27] niXman commented on #390
I was planning to merge develop and master branches when gcc-5 is released. gcc-5 is now released, but I still can not build it because of this bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65926

[2015-05-02 13:41] Andne commented on #390
That's an annoying little bug, looks like they may need to add a MinGW build to the their test suite ;)

[2015-05-02 13:49] niXman commented on #390
It is unlikely that someone would agree this =)

[2015-05-02 13:49] #390 closed

[2015-05-09 14:58] Andne opened #393 "Msys2 Libtool 2.4.6 breaks libgnurx automake command"
After updating my install of msys2, I get errors during the after_patch script execution related to LIBTOOL.  I downgraded libtool to 2.4.5 instead of 2.4.6, and this appears to have fixed the errors.  It appears that there was a change in 2.4.6 that is not compatible with either some of the files in the libgnurx package or the copied in configure.ac and Makefile.am files.

The error occurs during

[2015-05-09 15:03] Andne commented on #393
Nevermind, I think I just had a bad directory tree, hitting errors in other folders as well and can't reproduce the error.

[2015-05-09 15:03] #393 closed

[2015-07-06 09:24] ytrezq opened #404 "Support New and deprecated platforms"
Today it is possible to compile dlls using winAPI for ARM and ARM64 *(Hacked version of windows RT can run unsigned native code)*.
Windows and visual studio supported Alpha; PowerPC; Mips and IA64 in the past. While it restricts to outdated Windows® versions, getting those is the best way to run desktop windows apps if you have the source code.

[2015-08-01 17:30] jeroenooms opened #406 "Not found level for patch gcc/gcc-4.8-filename-output.patch"
I am using msys2-x64 and the `develop` branch of mingw-builds to with the following config:

[code]

All goes well until gcc fails to find a patch:

[code]

[2015-08-01 23:10] jeroenooms opened #407 "Setting --static-gcc results in broken executables"
Tried:

[code]

Errored at libmangle:

[code]

config.log:

[code]

[2015-08-02 09:32] niXman commented on #406
Fixed, thanks.

[2015-08-02 09:32] #406 closed

[2015-08-02 09:42] niXman commented on #407
Please show the `/home/Jeroen/mingw-gcc-4.9.2/i686-492-win32-sjlj-rt_v4-s/build/libmangle-v4/config.log` file.

[2015-08-02 09:53] #366 closed

[2015-08-02 09:53] #382 closed

[2015-08-02 09:56] niXman commented on #404
If it is a question, it is better to ask it here: mingw-w64-public@lists.sourceforge.net

[2015-08-02 09:56] #404 closed

[2015-08-02 10:45] jeroenooms commented on #407
Ah here you go

[code]

[2015-08-02 10:49] jeroenooms commented on #407
Actually the reason I use `--static-gcc` is because I don't want runtime dll dependencies on `libgcc_s_sjlj-1.dll` and `libstdc++-6.dll`, but maybe that is not correct. How do I get static libgcc and libstdc++?

[2015-08-02 11:35] niXman commented on #407
You do not need to rebuild GCC using `--static-gcc` option. Use standard builds of MinGW-W64, but when linking, add the `-static` option.

[2015-08-02 11:55] jeroenooms commented on #407
Is there any way I can make the compiler default to `-static-libstdc++` ? That is what our current tool chain seems to be doing (I am updating a 4.6.3 tool chain and it has to behave exactly the same)

[2015-08-02 14:00] niXman commented on #407
Yes, in this case you need to build MinGW-W64 using `--static-gcc` option.
The problem with the building libmangle can be solved by mailing to the MinGW-W64 mailing list(mingw-w64-public@lists.sf.net)

[2015-08-02 14:06] jeroenooms commented on #407
Haha that sounds like a long term solution. Do you think I can get another version such as gcc 4.9.2 or mingw-w64 v3 to build with `--static-gcc`?

[2015-08-02 14:29] niXman commented on #407
When I added this option in the scripts, it was working. But that was a long time ago, and I can not remember now, with what GCC version I tested this option...

Another way that you can try to solve this problem is to remove from the libmangle from the list of subtargets(comment out this line: https://github.com/niXman/mingw-builds/blob/develop/library/subtargets.sh#L101).

[2015-08-02 15:02] jeroenooms commented on #407
So libmangle is not needed by the compiler? I just want the tool chain, similar to the bundles from the mingw-builds website. Why does the `gcc` target start compiling openssl, python, etc?

[2015-08-02 15:51] jeroenooms commented on #407
I tried skipping `libmangle` but all subsequent targets also fail with **C compiler cannot create executables** so I guess the compiler is just not working :(

[2015-08-02 15:53] jeroenooms commented on #407
Okay the problem is not libmangle, the compiler just doesn't work when created with `--static-gcc`:

[code]

[2015-08-03 07:51] niXman commented on #407
No, this is an additional package.

About what exactly the website you talking about?
mingw-builds never unloaded the builds using '--static-gcc' option.

[2015-08-03 18:10] ytrezq commented on #404
@niXman this is not a question, you didn’t created builds for those platforms.

[2015-08-03 19:19] jeroenooms commented on #407
Okay that makes sense,  was unaware that GDB requires python. I'll try some more combinations to see if I can get `--enable-static` to work.

[2015-08-03 19:38] niXman commented on #407
You also can try use `--no-extras` option, if you no need GDB/python/etc packages.

[2015-08-04 06:11] niXman commented on #407
Just now I successfully build GCC-4.9.3 using the `--static-gcc` option.
You seem forgot to specify the `--bootstrap` option.

[2015-08-04 06:11] #407 closed

[2015-08-04 08:19] jeroenooms commented on #407
When do I use `--bootstrap`? Is this documented anywhere?

[2015-08-04 08:27] niXman commented on #407
For `build` script:
`./build --mode=gcc-4.9.2 --arch=i686 --exceptions=sjlj --static-gcc --threads=win32 --enable-languages=c,c++,fortran --bootstrap`

Of course!:
https://gcc.gnu.org/install/build.html

[2015-08-04 18:42] jeroenooms commented on #407
Thanks, I got it to work. Maybe as a suggestion add something to the build script so that `--enable-static` automatically implies `--bootstrap`? This is not immediately obvious for noobs...

[2015-08-05 10:10] niXman commented on #407
done:
https://github.com/niXman/mingw-builds/commit/2b0243c2117fa96ffaf834e28093358e46ec624b

[2015-08-27 09:11] jeroenooms opened #408 "Specify custom gcc compile options"
I would like to build a gcc 4.9.2 without SSE optimization, but I have a hard time figuring out where to set the custom `-mno-sse` option. I tried this:

[code]

But that gives:

[2015-08-27 19:31] niXman commented on #408
Which `configure` gives this error? GCC?

[2015-08-27 19:32] jeroenooms commented on #408
Yes

[2015-08-27 19:40] niXman commented on #408
Please add this line: `echo FOO=\"${3}\"` between the lines 681-682 into `library/functions.sh` file and show me the output.

[2015-08-27 19:46] jeroenooms commented on #408
[code]

[2015-08-27 20:16] niXman commented on #408
Hmm, this is strange... CFLAGS and CXXFLAGS looks as expected...

[2015-08-27 20:18] jeroenooms commented on #408
But there is a fifth `-mno-sse` in there outside of `CFLAGS`:

[code]

Should that one be there as well?

[2015-08-27 20:29] niXman commented on #408
Oh yeah, I didn't notice it. I'll try to figure it out...

No.

[2015-08-28 09:48] niXman commented on #408
This is strange, but I can't reproduce your error.

run cmd: `./build --buildroot=/c/mingw492 --mode=gcc-4.9.2 --rt-version=v3 --arch=i686 --exceptions=sjlj --static-gcc --threads=win32 --enable-languages=c,c++,fortran --cflags='-mno-sse'`

gcc configure cmd: `FOO="--host=i686-w64-mingw32 --build=i686-w64-mingw32 --target=i686-w64-mingw32 --prefix=/mingw32 --with-sysroot=/c/mingw492/i686-492-win32

[2015-08-28 11:06] jeroenooms opened #409 "Patch for sjlj exceptions"
There is an annoying bug in mingw-w64 v3 related to sjlj exceptions. The bug was fixed in v4, unfortunately we need to stick with v3 for now. The [patch](http://pastebin.com/k4dLndkw) is really simple, would it be possible to add this patch to the automatic build process for `--rt-version=v3`?

[2015-08-28 11:07] jeroenooms commented on #408
Strange, let me wipe everything and try again.

[2015-08-28 12:55] niXman commented on #409
`https://github.com/thirdwing/Rtools/blob/R_extsoft/script_by_rubenvb/patches/mingw-w64-3.3.0.patch` - bad link, 404.

[2015-08-28 13:00] jeroenooms commented on #409
Oh shit, private repo :D Here a copy: http://pastebin.com/k4dLndkw

[2015-08-28 13:02] niXman commented on #409
Now is Ok. I'll try to aply this patch for v3.

[2015-08-28 13:14] niXman commented on #409
As I can see this patch is already here: https://sourceforge.net/p/mingw-w64/mingw-w64/ci/v3.x/tree/mingw-w64-crt/misc/mingw_getsp.S

[2015-08-28 13:15] niXman commented on #409
diff: https://sourceforge.net/p/mingw-w64/mingw-w64/ci/b43f78cb4150752ea7f02b2eb14dfc2cfd30e5ff/

[2015-08-28 15:03] jeroenooms commented on #408
Hmm strange, I removed everything started from scratch and now I don't get this error anymore. It now fails later in the process though:

[code]

See full [make.log](http://www.stat.ucla.edu/~jeroen/mingw-w64/make.log). But this looks like a bug in gcc, not the build script.

[2015-08-28 15:05] jeroenooms commented on #409
Oh that is odd. Is this patch part of v3.3.0 release or later? Which exact version of mingw-w64 does mingw-builds use when setting `--rt-version=v3` ?

[2015-08-28 15:11] niXman commented on #408
Yes, this is GCC bug.

Closed.

[2015-08-28 15:11] #408 closed

[2015-08-28 15:12] niXman commented on #409
`v3.x` branch: https://sourceforge.net/p/mingw-w64/mingw-w64/ci/v3.x/tree/

[2015-08-28 15:41] jeroenooms commented on #409
Oh okay so it changes. I should probably write down which commit of v3.x was used when building then, in case I want to reproduce the exact same tool chain later.

[2015-08-28 15:43] niXman commented on #409
Closed.

[2015-08-28 15:43] #409 closed

[2015-08-29 08:51] jeroenooms opened #410 "Tk error: unknown type name 'TCLEXCEPTION_REGISTRATION'"
Trying to finalize my tool chain. Any guess to what might cause this one?

[code]

Makes it to Tk:

[code]

[2015-08-29 09:31] niXman commented on #410
Try to replace the line `#if defined(HAVE_NO_SEH) && __MINGW64_VERSION_MAJOR < 3` with `#if defined(HAVE_NO_SEH)` in `src\tk8.6.4\win\tkWin32Dll.c` file.

[2015-08-29 09:38] niXman commented on #410
Fixed in the `develop` branch: https://github.com/niXman/mingw-builds/commit/c511535c5b42d872a183aeaebb391b270ef7ced8

[2015-08-29 09:38] niXman commented on #410
closed.

[2015-08-29 09:38] #410 closed

[2015-08-29 09:59] jeroenooms commented on #410
Perfect, thanks.

[2015-08-29 12:21] jeroenooms opened #411 "File tcl86.dll not included in /opt/bin"
My build finished (yay). My application requires tcl/tk so I was happy to see that this is bundled with mingw-builds. However I noticed that `i686-492-win32-sjlj-rt_v3-s` contains:

[code]

It also contains `/opt/bin/tk86.dll` however it does not have runtime files files `tcl86.dll`, `tclreg13.dll`, `tcldde14.dll`. Is this a bug, or are these files not required for static gcc?

[2015-08-30 09:56] jeroenooms commented on #409
We just built our software using `--rt-version=v3` but it still seems to suffer from the sjlj bug. Are you sure that the mingw-builds scripts use the latest trunk of v3? Or does it use the latest stable (i.e. v3.3.0 which still has the bug)?

[2015-08-30 13:30] Andne commented on #409
If you specify `--rt-version=v3` then the script will checkout v3 and use that.  However, if the `mingw-w64` folder already exists in the `src` directory, then the checkout does not occur, and the script uses whichever version you currently have checked out.  There is also the argument `--update-sources` that is supposed to force an update to the latest version for anything that uses git or svn as

[2015-08-31 08:19] niXman commented on #411
Yes, this is a bug. Now fixed in the `develop` branch.

Closed.

[2015-08-31 08:19] #411 closed

[2015-08-31 09:24] jeroenooms commented on #409
Thanks. This confirms my fear that the sjlj bug we are experiencing has not properly been fixed yet in mingw-w64 :(

[2015-09-01 11:52] vszakats opened #412 "Suggestion to enable `-fno-ident` option when building mingw compiler/runtime binaries"
When enabled, this option will instruct gcc not to include a public string identified with `.ident` in each generate object file. That strings contain values similar to these, depending on mingw version and flavor:

`GCC: (x86_64-posix-sjlj-rev0, Built by MinGW-W64 project) 4.8.4`
`GCC: (x86_64-win32-sjlj-rev0, Built by MinGW-W64 project) 5.1.0`

These strings from mingw runtime object are accumul

[2015-09-01 12:48] niXman commented on #412
You are able to successfully build GCC(using mingw-builds scripts) using this option?

[2015-09-01 12:54] vszakats commented on #412
I haven't tried building GCC itself with this option, but I'm using it successfully while building [1] application objects using mingw. These strings don't appear to be referenced anywhere, so I believe it should create no problems when enabled while building GCC itself.

[1] https://ci.appveyor.com/project/vsz/harbour-core/branch/master

[2015-09-01 12:59] niXman commented on #412
I'll try to build MinGW using this option in the next week.

Closed.

[2015-09-01 12:59] #412 closed

[2015-09-01 13:04] vszakats commented on #412
Thanks a lot!

[2015-09-01 13:45] White-Tiger commented on #412
thanks for building without and @vszakats for hinting me about this option at all :P
It doesn't seem to be an issue on Linux as strip can remove this .ident/.comment section, but that doesn't seem to work for Windows. Seems to be at the end of the .rdata section...
Also Linux doesn't load these sections into memory, but I doubt that would be the case on Windows

Will safe me 1.8k when the compiler

[2015-09-04 02:25] vszakats opened #413 "mingw32-make gcc vs. g++ implicit rule mixup"
Reporting here based on these reports and solutions:
- https://stackoverflow.com/questions/28531272/ming32-make-is-using-g-instead-of-cc-or-gcc-to-compile-a-c-source-file
- https://github.com/openssl/openssl/issues/256#issuecomment-103760305

1. I could replicate the issue while compiling OpenSSL 1.0.2d with `mingw32-make.exe` taken from the mingw-w64 5.1.0 package: [URL](https://www.mirrorservice

[2015-09-04 11:40] vszakats commented on #413
Here's a build session that demonstrates the problem:
https://ci.appveyor.com/project/vsz/harbour-deps/build/1.0.47#L403

And here's one that runs correctly by using `mingw32-make.exe` from above alternate package (note the `copy` command that puts the other `.exe` in place):
https://ci.appveyor.com/project/vsz/harbour-deps/build/1.0.45

The difference between these two build configurations:
https

[2015-09-06 09:40] niXman commented on #413
Hi,

I do not understand how I can fix this?

[2015-09-06 15:36] vszakats commented on #413
Hi,

First of all sorry if this is not the appropriate place to report this. I was assuming something build-specific because both correct and failing GNU Make builds reported version 4.1, even though the most likely cause for such misbehavior would be a GNU Make regression.

Other causes can be different GNU Make source revision, different build options or a custom patch. Question which of these m

[2015-09-09 16:03] jeroenooms opened #414 "Static gcc 5.2.0 fails"
[code]

Fails at:

[code]

With:

[code]

[2015-09-09 16:09] niXman commented on #414
This is a known bug, but I can't fix it...

https://gcc.gnu.org/ml/gcc-help/2015-08/msg00000.html

[2015-09-09 16:13] jeroenooms commented on #414
Ow, that sucks.

[2015-09-09 16:16] niXman commented on #414
Any help is appreciated ;)

[2015-09-09 19:50] niXman commented on #414
fixed: https://github.com/niXman/mingw-builds/commit/55b09354619abdcc84c308dbac830c01a9ba4786

`gcc-5.1.0-fix-libatomic-building-for-threads=win32.patch` patch is added.

[2015-09-09 19:50] niXman commented on #414
closed.

[2015-09-09 19:51] #414 closed

[2015-09-09 19:55] #340 closed

[2015-09-09 20:07] jeroenooms opened #415 "Disable link time optimization"
I did not specify `--use-lto` in the build, but `g++ -v` still shows ` --enable-lto`. Does this mean gcc is using lto by default? How do I disable this LTO?

[code]

[2015-09-09 20:13] niXman commented on #415
No, it means the GCC is configured for LTO support.

[2015-09-09 20:20] niXman commented on #415
Offtopic
Do you know that SJLJ exceptions create some overhead for the target executable?
I recommend using DWARF exceptions model for 32-bit builds, and SEH for 64 bit.

[2015-09-09 20:20] #415 closed

[2015-09-09 20:20] jeroenooms commented on #415
Yes I know. But we need something that is compatible with our current tool chain, and preferably multilib.

[2015-09-09 20:21] niXman commented on #415
I understand.

[2015-09-09 20:31] jeroenooms commented on #415
Is it possible to build a compiler for a i686 host which targets x64 with SEH?

[2015-09-09 20:34] niXman commented on #415
No, because no one wants to implement the SEH support for 32-bit.

[2015-09-09 20:37] jeroenooms commented on #415
So an `i686-493-win64-...` compiler can only be built with sjlj?

[2015-09-09 20:45] niXman commented on #415
You mean `i686-493-win32-...` ?

[2015-09-10 09:09] niXman commented on #415
If the opportunity is, I don't know about it.

[2015-09-11 22:02] jeroenooms opened #416 "Setting -fno-asynchronous-unwind-tables changes exception model"
Not sure if this is a bug, and if so if it is a bug in the buid script or mingw-w64:

I am using `x86_64-493-win32-seh-rt_v3-s`. However when passing `-fno-asynchronous-unwind-tables` to `g++` it switches to `sjlj` exceptions. You can use [this test](http://stackoverflow.com/questions/17967597/obtaining-current-gcc-exception-model) to reproduce the problem:

[code]

You can verify that the output

[2015-09-12 08:39] niXman commented on #416
It would be better if you write to GCC developers: gcc-help@gcc.gnu.org

[2015-09-12 08:39] #416 closed

[2015-09-16 12:10] jeroenooms opened #417 "gdb runtime dependencies"
I built a `--static-gcc` version of gcc 4.9.3, however for size limitations I am not shipping the `./opt` dir in my bundle to the end user. Everything works except for `gdb.exe` gives an error about missing python.

Is it possible to statically link libpython into GDB to avoid runtime dependencies? Or alternatively, maybe you should copy the required `.dll` files from `./opt` into `./bin` along wi

[2015-09-16 12:20] niXman commented on #417
I do not know, I have not tried.

No, Python is installed in the 'opt/bin' directory in order to avoid conflicts with other Python that is already installed by the user.

[2015-09-16 12:20] #417 closed

[2015-09-17 15:06] JerryAtSpiria opened #418 "collect-ld generated in gcc build phase links to toolchain ld.exe instead of freshly built ld.exe in the build area"
Trying to build a toolchain that not only links to msvcr110.dll, but also is made exclusively of components that all link to the same C runtime, especially the C and Fortran libraries co-existing with the compiler.

This is done by creating a msvcr110 spec file for gcc in the toolchain, building libmoldname110.a linking to the right runtime, and hardcoding the C runtime in the GCC source in gcc/co

[2015-09-20 17:35] vszakats commented on #412
@niXman Not sure I can its effect in the latest 5.2.0 mingw build. Were you be able to enable it? or what were the results of your tests?

[2015-10-08 12:29] jbo-85 opened #419 "GCC-patch doesn't work anymore"
This patch doesn't work anymore on the GCC 5 branch. It seems to work with GCC 5.2

-> gcc-5-branch
--> checkout gcc-5-branch... done
--> patching...Not found level for patch gcc/gcc-5.1.0-detect-sjlj-cleanup.patch, error=1

[2015-10-22 21:26] fabzzap commented on #413
I can confirm that the issue exists in recent builds of mingw32-make.
https://www.gnu.org/software/make/manual/html_node/Catalogue-of-Rules.html gives a tip:

And, when running `mingw32-make -p` using the version included at http://netcologne.dl.sourceforge.net/project/mingw-w64/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/5.2.0/threads-posix/dwarf/i686-5.2.0-release-posix-dwarf-

[2015-10-23 00:36] vszakats commented on #413
Can't verify at the moment, but it will be interesting to test the GNU Make build-time option `--enable-case-insensitive-file-system`. Maybe it's become broken in a recent update.

[2015-10-26 22:34] vszakats commented on #413
After making tests, I confirm that the `--enable-case-insensitive-file-system` `./configure` option breaks it the way described above, or the `HAVE_CASE_INSENSITIVE_FS` macro, which it translates to. It means that the root cause is not inside `mingw-builds`, but GNU Make itself. It appears to have broken between 3.81.90 and 3.99.90, where former is OK, latter is not.

As for `mingw-builds` I think

[2015-10-26 23:06] vszakats commented on #413
Issued this GNU Make bug report about it:
https://savannah.gnu.org/bugs/index.php?46304

[2015-10-27 19:52] vszakats commented on #413
The problem has been fixed in GNU Make repository:
http://git.savannah.gnu.org/cgit/make.git/commit/?id=4a5377aef7a6093a8cc4ab76d5ad37ca3592b44c

README.w32 has been updated as well with new wording that makes it clear that `--enable-case-insensitive-file-system` option is _not recommended_, unless some specific uses-case arise with wrongly cased filenames:
[code]

[2015-10-27 19:52] #413 closed

[2015-12-28 00:16] jbo-85 commented on #419
Fixed.

[2015-12-28 00:16] #419 closed

[2016-01-05 19:44] wsmoses opened #424 "Add libcilkrts / add cilk capability to gcc-5"
Modern gcc has capability for cilk (and programs for which are becoming more common).

Adding this capability to msys allows these programs to be compiled and features used.

[2016-01-05 19:48] niXman commented on #424
Patches are welcome ;)

[2016-03-24 23:27] MikaelSmith opened #426 "gcc 4.8.5 script refers to nonexistant patch"
The patch referred to at https://github.com/niXman/mingw-builds/blob/develop/scripts/gcc-4.8.5.sh#L60 doesn't exist.

[2016-03-25 00:14] MikaelSmith commented on #426
Removing it, I wasn't able to build GCC 4.8.5. It ran into a compile error (I'll look up what it was later).

[2016-03-25 06:14] MikaelSmith commented on #426
Also occurred building GCC 4.8.4:
[code]

[2016-03-25 20:55] niXman commented on #426
Try to change the `isl` version to `0.14.1`

[2016-03-26 00:59] MikaelSmith commented on #426
That got through the graphite-dependences build problem, thanks!

[2016-03-26 08:41] #426 closed

[2016-12-05 19:26] joeparkerz opened #431 "GCC 6.2 branch"
Hi,

Make a gcc 6.2 branch...

[2017-02-04 18:43] carlkl commented on #431
This repository doesn't seem to be in line with latest mingw-builds binaries based on gcc-6.3. These binaries are using a patch called
 `gcc-6.1-disable-weak-refs.patch`

Is this patch the same as
`0016-disable-weak-refs-in-libstdc++.patch` found in https://github.com/Alexpux/MINGW-packages ?

[2017-04-29 17:50] karel-m commented on #431
@niXman is there any chance to have the build scripts used for building mingw-build's gcc-6.3.0 toolchain binaries?

[2017-05-01 19:02] niXman commented on #431
Hi,

@karel-m I have a local copy of the project that contains the necessary changes and patches for building gcc-6.3 and gcc-7. But I can not merge my local changes with the upstream project because the auto-merge does not work and it is needed to merge manually. But I do not have free time for this now.
I could send you an archive of my local copy of the scripts so that you can build gcc-6.3 and

[2017-05-01 19:31] karel-m commented on #431
@niXman I would definitelly appreciate if you could provide me with the latest version you have mentioned. I do not want to promise in advance that I will be able to fix merge conflicts but I can try :)

If your latest version is only able to build gcc6/7 I would even propose creating a new separate repo e.g. `mingw-builds6` where you can drop build scripts for pre-6 versions and point (in README)

[2017-05-01 19:48] niXman commented on #431
No, it is mingw-builds project with additional fixes/rules/patches.

Ok, I will prepare the arhive and attach into this issue...

[2017-05-04 09:14] derit opened #435 "cross build from windows/linux to other os like wince or raspberry PI"
can make build script for cross compile gcc or other os

[2017-05-04 10:32] niXman commented on #435
Theoretically I can do it, but practically - I have no free time for it...

[2017-05-04 10:32] #435 closed

[2017-05-04 21:47] carlkl commented on #431
@niXman, what about putting it into an extra branch?

[2017-05-05 22:28] stephenwhittle commented on #431
This would be really great to see. Currently the build-from-git package on MSYS2 is still set up for GCC 6.3.0 and I need 7+ to test some of the C++1z functionality. Happy to help test a version supporting 7+.

[2017-05-06 10:44] carlkl commented on #431
@niXman's gcc-7.1.0 builds have been announced here: http://www.mail-archive.com/mingw-w64-public@lists.sourceforge.net/msg13372.html

[2017-05-08 16:30] #424 closed

[2017-05-09 19:38] niXman commented on #431
Sorry for the delay, archive in attachments.
[mingw-builds.zip](https://github.com/niXman/mingw-builds/files/987827/mingw-builds.zip)

[2017-05-09 19:39] niXman commented on #431
Hmm..

[2017-05-11 18:03] niXman commented on #431
I see. Please create the another issue.

[2017-05-11 18:03] #431 closed

[2017-05-12 08:25] carlkl opened #436 "gendef binary missing"
gendef.exe is missing in the some of the newer binary builds found on SF. It seems to be commented out in the scripts found in the archive https://github.com/niXman/mingw-builds/files/987827/mingw-builds.zip attached to https://github.com/niXman/mingw-builds/issues/431#issuecomment-300278600

[2017-06-01 18:20] White-Tiger commented on #431
niXman, I really love your work, but it has become quite a hassle to stay in sync...
You had newer releases on the MSYS side for a while _(before that, your SF used to be the latest of all possible builds)_ but now they're lacking behind SF once more...

So currently I guess it's all about the merge issue? Because you're not building the MSYS binaries yourself but someone else / a build bot does?

[2017-06-01 18:31] niXman commented on #431
@White-Tiger, You seem to have misunderstood me...
The only problem that existed was the lack of free time. Only for this reason I have accumulated a local heap of changes, some of which I committed. So I broke myself the possibility to merge the changes...

But at the moment the problem is solved and for the last two weeks I have released two releases:

https://github.com/niXman/mingw-builds/rele

[2017-07-24 05:13] niXman commented on #436
Done in GCC-7.1-rev1 builds.

Closed.

[2017-07-24 05:13] #436 closed

[2017-08-01 12:18] holgern opened #439 "Compilation of gcc-5.3.0 failed"
In file included from ../../../../src/gcc-5.3.0/gcc/cp/except.c:1023:0:
cfns.gperf: In function 'const char* libc_name_p(const char*, unsigned int)':
cfns.gperf:101:1: error: 'const char* libc_name_p(const char*, unsigned int)' redeclared inline with 'gnu_inline' attribute
cfns.gperf:26:14: note: 'const char* libc_name_p(const char*, unsigned int)' previously declared here
cfns.gperf: At global sc

[2017-08-01 12:21] niXman commented on #439
please make the PR into `develop` branch.

[2017-08-01 12:31] niXman commented on #439
and yes, you should create the patch for GCC sources tree.

[2017-08-01 12:37] niXman commented on #439
or you can build `gcc-5-branch` instead.

[2017-08-01 12:58] holgern commented on #439
Thank you for your fast response. I will take a look into the different solutions.

[2017-08-01 13:08] #439 closed

[2017-08-28 21:33] vburdo opened #440 "CDPATH env var may interfere w/ build script"
Hi.

I tried this build script and immediately ran into problem.
The source of the problem was **CDPATH** env var which pointed to the tree with "lib" subdirectory.

Error was like `this:`
[code]
The problem was that **CDPATH** was set like this: `CDPATH=/d/prj:/d/prj/libs:/d/prj/3rdparty`
Proposed solution: Unset **CDPATH** at the beginning of "build" by issuing command `unset CDPATH`

[2017-08-29 08:13] niXman commented on #440
I'll do it.

Thanks.

[2017-08-29 08:13] #440 closed

[2017-08-29 09:14] vburdo commented on #440
One more problem of this kind.
This time **PYTHONHOME** - it interfers w/ python installation

[2017-08-29 09:28] niXman commented on #440
I do not understand what you mean..

[2017-08-29 11:34] vburdo commented on #440
Having **PYTHONHOME** env var set causes python package build to fail at installation phase.
Solution to this problem is the same: issue `unset PYTHONHOME` at the beginning of "build" script

[2017-08-29 14:17] niXman commented on #440
Ok, thanks. I'll do it.

[2017-09-06 16:57] lhmouse opened #441 "Enable colorized diagnostic messages for CMD ?"
### Introduction

This is a handwritten [ANSI escape code](https://en.wikipedia.org/wiki/ANSI_escape_code) parser. It implements only a handful of commands, but shall suffice for GCC.

Colored diagnostic messages are supported **natively** on Windows 7 - that is, not only in MinTTY or BASH whatsoever, but also in CMD.

There shouldn't be any problems in the case of Windows XP, but I have not teste

[2017-09-07 16:06] niXman commented on #441
Great, thank you!

[2017-09-07 16:51] lhmouse commented on #441
There is an [updated version](https://github.com/Alexpux/MINGW-packages/blob/master/mingw-w64-gcc-git/0018-gcc-7-branch-Enable-a-native-GCC-to-color-diagnostic-messages-sen.patch). A few typos in comments have been fixed. There is also a new handler for the `ESC [ n J` sequence, which completes the feature list, although GCC does not make use of it at the moment.

[2017-09-07 17:51] niXman commented on #441
thanks.

closed.

[2017-09-07 17:51] #441 closed

[2017-11-03 05:57] revelator opened #443 "not able to build gnat in 32 bit multilib versions greater than 4.9"
Not sure where this bug stems from, but gnat chokes on the 128 bit sse mechanics when compiling a 32 bit multilib version. I guess that is the reason why none of the builds have it anymore since 4.9.2-rev2 ?.

[2017-11-07 18:29] niXman commented on #443
Hi,

I have no free time to support gnat also.
Will be great if anyone(may be you) do it..

[2017-11-07 18:34] #443 closed

[2017-11-12 17:09] byteblob opened #444 "gcc 4.9.4"
Hi,
I'm trying to build mingw32 with gcc 4.9.4. I'm using msys2 **32bit** and mingw-builds' develop branch, which seem to run fine. I'm using this command line:
```build --mode=gcc-4.9.4 --enable-languages=c,c++ --arch=i686 --exceptions=dwarf --threads=win32 --use-lto --no-multilib```
The readme here lists gcc 4.9.4 as one of the tested builds, but when I've tried, the build script downloads the g

[2017-11-12 18:16] niXman commented on #444
sf.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/

Why do you think so?
The link to the gcc-4.9.4 sources is specified in the gcc-4.9.4 recipe:
https://github.com/niXman/mingw-builds/blob/develop/scripts/gcc-4.9.4.sh#L43

Because this version is specified as default host toolchain version:
https://github.com/niXman/mingw-builds/blob/develop/library/con

[2017-11-12 21:31] byteblob commented on #444
It's the first time I'm using msys, so I had some confusion about the compiler provided with msys (which is not there, but I thought there was one), the toolchain used to build mingw, and the source used for mingw itself.

I'm trying again the build, and you may want to know that with the --jobs=4 option the build gives an error. Unfortunately I didn't keep the make.log :p
![4jobs](https://user-im

[2017-11-12 21:50] #444 closed

[2017-11-13 04:01] byteblob commented on #444
I want to add a final note for anyone who is building this old gcc version like me.
The build took 6 hours :p

I had to fix 2 files to have it build correctly.
First, in `\mingw-builds\scripts\mingw-w64-crt.sh` I emptied the patches list with `PKG_PATCHES=()`, because it gave the *Not found level* error for `bug-647.patch`.
I noticed that `strtold.c` was already patched, so skipping the patch didn

[2017-11-13 06:27] niXman commented on #444
True, because that bug already fixed in MingW-W64.

Why?

=)

[2017-11-14 01:40] byteblob commented on #444
Because the compiler gave an error of `std::to_string not defined`

[2017-11-15 08:54] niXman commented on #444
https://sourceforge.net/p/mingw-w64/mailman/message/36115808/

[2017-11-16 01:14] byteblob commented on #444
Did you have to change the `#define` like I did?

[2017-11-16 05:28] niXman commented on #444
Yes.

[2017-11-17 07:02] byteblob commented on #444
Well, thanks for the help and for the build :)

[2018-03-11 16:57] jrobcary opened #449 "How to specify which redistributables to link against?"
https://www.spiria.com/en/blog/desktop-software/building-mingw-w64-toolchain-links-specific-visual-studio-runtime-library

has a way of building mingw with other redistributables.  It requires some intervention.  It seems this could be automated.  Has anyone done this or thought about what it would take?

[2018-03-28 17:50] niXman commented on #449
Hi,

Patches are welcome.

[2018-03-29 09:05] jeroen opened #450 "Testing with gcc 8"
Is it possible yet to test a build of the upcoming gcc 8 What would be the recommended rt-version? I tried the following but it fails with the error below (full log [here](https://gist.githubusercontent.com/jeroen/ebe435e14210e0813e950c58fd4ca8a0/raw/ca2e470d8fd5b493901bbaee7e6de9639bd96d02/build.log)). Thank you for the advise.

[code]

[code]

Error log:

[code]

[2018-03-29 09:11] niXman commented on #450
Hi,

As I can see, we should to adapt the [filesystem.patch](https://github.com/niXman/mingw-builds/blob/master/patches/gcc/gcc-8-filesystem.patch) patch for `filesystem` sources in current `trunk`.

[2018-03-29 09:18] niXman commented on #450
.. or comment out this line: https://github.com/niXman/mingw-builds/blob/master/scripts/gcc-trunk.sh#L91

[2018-03-29 22:18] jeroen commented on #450
Thanks! I tried the latter solution and that worked. Now it's failing a little later when compiling ncurses. First I see these warnings:

[code]

And then it fails with:

[code]

[2018-03-30 05:00] niXman commented on #450
this is strange, because week ago I was successfully built gcc-7.3.0

[2018-03-30 05:06] niXman commented on #450
can you please attach the `../c++/etip.h` file?

[2018-03-30 07:54] jeroen commented on #450
Also my x64 build fails at:

[code]
with error:

[code]

[2018-03-30 07:54] jeroen commented on #450
Note that I am building with `--static-gcc` so perhaps that is different from your builds.

[2018-03-30 08:08] jeroen commented on #450
Here is my [/mingw-gcc-trunk/i686-trunk-posix-dwarf-rt_v5-s/build/ncurses-6.1/c++/etip.h](https://pastebin.com/VsEtehar)

[2018-03-31 09:00] jeroen opened #452 "#include_next not working in g++-8"
As a temporary workaround for https://github.com/niXman/mingw-builds/issues/450 I was able to build a `--static-gcc` toolchain using `--no-extras`. The basic C stuff works well I was able to build my application.

However for C++ I keep getting errors about `#include_next` in headers:

[code]

and

[code]

I confirmed that `stdlib.h` and `math.h` are definitly installed. Is this perhaps a problem

[2018-03-31 17:55] jeroen commented on #452
Yes that fixed it! Thank you!

Do you think I should report this problem upstream somewhere?

[2018-05-02 10:16] jeroen commented on #452
GCC 8 has been released. Maybe we should comment that out by default?

[2018-05-02 10:54] niXman commented on #452
Please explain, what is the relationship between this bug and the release of gcc-8.1?

[2018-05-02 11:13] jeroen commented on #452
As I understand it, the bug still persists in gcc 8.1 release.

[2018-05-03 10:59] jeroen commented on #450
Tried to build GCC 8.1 but it even fails when commenting out `--enable-libstdcxx-filesystem-ts=yes`:

[code]

[2018-05-05 21:09] niXman commented on #452
Be better to rewrite the FS patch for gcc-8. I'll do it...

[2018-05-05 21:09] #452 closed

[2018-05-07 19:45] jeroen opened #454 "lto test failure for --static-gcc"
I'm building a static toolchain like this:

[code]

Build is fine but tests fails like below. Is this something to worry about?

[code]

[2018-05-07 23:47] #450 closed

[2018-05-07 23:47] #449 closed

[2018-05-07 23:47] #418 closed

[2018-05-08 07:45] niXman commented on #454
yes, it's bad, but I have no ideas...

[2018-05-08 08:53] niXman commented on #454
yes, it's bad, but I have no ideas...

[2018-05-08 08:53] #454 closed

[2018-06-02 09:31] pavel-pimenov opened #455 "error link"
https://sourceforge.net/p/msys2/wiki/MSYS2%20installation/

[2018-06-02 09:38] #455 closed

[2018-09-01 07:28] h0tc0d3 opened #462 "The directory that should contain system headers does not exist"
Hi. May be you can help me.
I try to build gcc-8.2.0
Patches get here https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-gcc
https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-binutils
[code]
[make.log](https://github.com/niXman/mingw-builds/files/2342142/make.log)
[configure.log](https://github.com/niXman/mingw-builds/files/2342143/configure.log)

My build script:
[code]

[2019-03-28 17:52] Eric-Vignola opened #472 "build fails at tcl"
Hi there,

On a Win10 machine with MSYS2 64bit shell i ran the following command to build the toolchain:

`./build --mode=gcc-7.2.0 --jobs=10 --arch=x86_64 --bootstrap`

Everything worked until tcl

I've attached the error log that popped up.
[tcl-error.log](https://github.com/niXman/mingw-builds/files/3019530/tcl-error.log)

If there is a workaround, please let me know!

[2019-04-20 13:23] allenling opened #473 "gcc download from Toolchains can not link?"
hi

when i run `./build --mode=gcc-7.1.0 other-flags`, we will download gcc from `sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/other_path` into ~/mingw-builds/toolchains dir

and when i compile test.c(empty main function), no error, but nothing happen, i wonder why?

[2019-07-30 16:14] pi14156 opened #476 "x86_64-libiconv-static linker error"
Hi,

I'm trying to build MinGW GCC using the script on the develop branch, with the script invokation being (changing it didn't help):

`./build --mode=gcc-9-branch --arch=x86_64 --buildroot=/c/mingw920pre --update-sources --exceptions=seh --use-lto --bootstrapall --static-gcc --jobs=3 --rt-version=trunk --with-default-msvcrt=ucrt --threads=posix --bin-compress --cflags='-O2' --cxxflags='-O2' --cp

[2019-07-30 16:22] niXman commented on #476
Hmm...

I think some commit broke the build...

@Furniel do you have any ideas?

[2019-07-30 19:48] Furniel commented on #476
@pi14156
@niXman
"--use-lto" flag causes this issue. Unfortunatly lto causes too many issues in gcc building (not only with libiconv) and i'm not sure how to fix all of them. This issue can be fixed with using AR=gcc-ar  RANLIB=gcc-ranlib NM=gcc-nm:
"build" script can be modified like this:
[code]
to
[code]
after this libiconv and other libs builds without any issues, but later binutils build fail

[2019-07-31 07:20] niXman commented on #476
@Furniel understood, thank you!

[2019-07-31 16:17] eldiener opened #477 "Support for gcc-8.2 and gcc-9.1"
Does your scripts support building gcc-8.2 and gcc-9.1 ? Neither is currently listed as gcc versions that can be built using your scripts, but these are the two versions of mingw-w64/gcc I do not have so I would like to build them using your scripts.

[2019-07-31 16:25] niXman commented on #477
yes `gcc-8.2` and `gcc-9.1` are supported.

to get the list of supported versions you should look at the file `build` in the `develop` branch: https://github.com/niXman/mingw-builds/blob/develop/build#L111

just nobody updates `README.md` file: https://github.com/niXman/mingw-builds/blob/develop/README.md

[2019-07-31 16:27] #476 closed

[2019-07-31 16:28] eldiener opened #478 "Parameters used in official builds previously installed with mingw-w64-install program"
Leaving aside the --mode, --arch, --exception, --threads, and --enable-languages choices, what are the other parameter choices which were used when you built the versions you distributed through the mingw-w64-install program ?

I want to build my final version of mingw-w64/gcc-8.2 and mingw-w64/gcc-9.1 with the same other choices that were used by you in the builds distributed through the mingw-w6

[2019-07-31 16:37] niXman commented on #478
each archive is downloaded by the mingw-w64 installer contains the `build-info.txt` file

[2019-07-31 22:27] #478 closed

[2019-07-31 22:28] #477 closed

[2019-08-03 23:37] eldiener opened #479 "Clarification of steps to build"
In  the instructions for items number 4 and 5 you write:

4. In the MSYS2 file structure delete the /MinGW directory.
5. Delete the paths pointing to any preinstalled MinGW from the PATH environment variable.

What is the purpose of these instructions ? In MSYS2 I see a /mingw64 where /mingw64/bin is in the PATH. Is this the directory you are referring to in 4. and 5. ? Is not this needed to build

[2019-08-04 07:56] niXman commented on #479
this is necessary because the scripts themselves download and use the necessary version of mingw-w64 toochains: https://github.com/niXman/mingw-builds/blob/develop/library/config-win.sh#L41

[2019-08-04 11:12] eldiener commented on #479
So when you say /MingW you also mean /mingw64 ?

[2019-08-04 11:17] niXman commented on #479
yes

[2019-08-04 12:50] eldiener commented on #479
Thanks !

[2019-08-04 12:50] #479 closed

[2019-08-05 20:07] Eric-Vignola commented on #472
I tried running `./build --mode=gcc-4.8.1 --arch=x86_64` copy pasted straight up from the instructions and it still fails.

If you could give me a command you could run right now that produces a successful build in your environment, I would love to run the same on my end to try to figure out what is going on.

[2019-08-06 02:21] eldiener opened #480 "Can't get ./build to run"
When I try to run, from the mingw-builds which has the repository:

`./build --mode=gcc-8.2.0 --buildroot=/home/eldnew8/build/i686-8.2.0 --rev=0 --rt-version=v6 --threads=posix --exceptions=dwarf --arch=i686 --enable-languages=c,c++`

I get the response:

[code]

My PATH is:

`/usr/local/bin:/usr/bin:/bin:/c/Windows/System32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell

[2019-08-06 06:21] Furniel commented on #480
You must remove or rename mingw32 and mingw64 folders from your msys2 folder

[2019-08-06 08:14] niXman commented on #480
@eldiener look at this: https://github.com/niXman/mingw-builds/blob/develop/library/config-win.sh#L75

[2019-08-06 19:13] #480 closed

[2019-08-06 21:34] eldiener opened #483 "Build options question"
The official MingW-W64-builds are built with, among others, a '--bootstrap' and a '--bin-compress' option. But even looking at the explanation given when typing './build --help' I can not figure out what these options do. Would you please explain what these mean when building a release ? I have been building my own releases of gcc-8.2, 8.3, and 9.1 without these options and everything is building

[2019-08-06 22:13] Furniel commented on #483
bootstrapping is the technique for producing a self-compiling compiler. Example:
Without bootstrap gcc 7.2 compiles gcc 9.1
With bootstrap gcc 7.2 compiles tmp version of gcc 9.1, and after that tmp gcc 9.1 compiles final version of gcc 9.1.
As result we have gcc version that was built with all code optimizations and bug fixes added in latest gcc. Theoretically bootstrapped builds should be also m

[2019-08-07 13:57] eldiener commented on #483
Thanks !

[2019-08-07 13:57] #483 closed

[2019-08-07 14:20] eldiener opened #484 "Error when building mode=gcc-9.1.0 --arch=i686"
When building gcc-9.1.0 32-bit, an error occurs when building python-2. It looks like one of the commands generated is not correct. My MSYS2 directory is at C:\Utilities\msys64. I have broken down the failing command to be more readable. It is:
[code]
You can see where the -o path is being generated incorrectly. My full build line is:

`./build --mode=gcc-9.1.0 --buildroot=/home/eldnew8/build/i686

[2019-08-07 15:54] niXman commented on #484
show the error message.

[2019-08-07 16:33] eldiener commented on #484
[code]

[2019-08-07 16:47] niXman commented on #484
[code]

[2019-08-07 16:48] niXman commented on #484
Hmm...

[2019-08-07 16:49] niXman commented on #484
try restarting the script.

[2019-08-07 18:21] eldiener commented on #484
I did, but the same error always occurs. It is clear in the gcc command that the -o path is incorrect, even though all the other paths are correct, but why it is being generated incorrectly I do not know. The -o path is given as:

build/temp.mingw-2.7/Utilities/msys64/home/eldnew8/build/i686-9.1.0-posix-dwarf-rt_v6-rev0/src/Python-2.7.15/Modules/_ctypes/_ctypes_test.o

but seems as if it should be

[2019-08-07 18:58] eldiener commented on #484
I do see in File Explorer this path:

C:\Utilities\msys64\home\eldnew8\build\i686-9.1.0-posix-dwarf-rt_v6-rev0\i686-910-posix-dwarf-rt_v5\build\Python-2.7.15\build\temp.mingw-2.7\Utilities\msys64\home\eldnew8\build\i686-9.1.0-posix-dwarf-rt_v6-rev0\src\Python-2.7.15\Modules\_ctypes

so it looks like

build/temp.mingw-2.7/Utilities/msys64/home/eldnew8/build/i686-9.1.0-posix-dwarf-rt_v6-rev0/src/Pyt

[2019-08-08 04:39] Eric-Vignola commented on #472
confirming that @Furniel 's update fixed this issue

[2019-08-08 04:39] #472 closed

[2019-08-08 07:15] niXman commented on #484
@Furniel any ideas?

[2019-08-08 07:16] niXman commented on #473
please explain your question.

[2019-08-08 10:07] Furniel commented on #484
@niXman Nope and i can't reproduce this bug

[2019-08-08 10:22] niXman commented on #484
Thank you!

[2019-08-08 11:51] eldiener commented on #484
Once I shortened my path and turned on the Windows 10 option which allows more than a 255 characters path, everything worked correctly when I tried the build again. I think the problem must have occurred because the generated file path length exceeded the Windows limit.

[2019-08-08 11:57] niXman commented on #484
great!

close please.

[2019-08-08 12:18] #484 closed

[2019-08-10 00:08] #462 closed

[2019-08-12 14:38] eldiener opened #485 "Updated revision"
When you had previously created new revisions for a particular gcc version of the mingw builds, how did you determine that a new revision was necessary ? Did this somehow follow something in the build history of official gcc versions ? Or was this because of some change(s) to this repository in regard to a particular gcc version ?

[2019-08-12 17:26] niXman commented on #485
I have been building the new revisions only because of fixes of something related to MinGW-W64 and/or Windows OS

[2019-08-12 19:11] eldiener commented on #485
But how did you know to create a new revision of a particular compiler toolset ? If I look at the compilers that you offered as part of the mingw-w64-install.exe distributions I can see, for instance, for gcc-7.2.0 build revisions 0 and 1. What caused a new build revision in that case, and how did you know to generate the new revision ?

[2019-08-12 22:05] eldiener opened #486 "Error when building gcc-5.5.0"
When building with mode=gcc-5.5.0, whether with --arch=i686 or with --arch=x86_64, I get the error:

../../../../src/gcc-5.5.0/gcc/graphite-optimize-isl.c:30:10: fatal error: isl/band.h: No such file or directory
 #include <isl/band.h>
          ^~~~~~~~~~~~
compilation terminated.

When I look at graphite-optimize-isl.c I see:

[code]
and indeed when looking at the source for isl-0.19 there is no

[2019-08-13 05:47] niXman commented on #485
I followed the mingw-w64 mailing list and also saw what patches were sent to me in the mingw-builds project - if I saw some important fix - I building the new revision.

[2019-08-13 05:50] niXman commented on #486
because gcc-5.5.0 uses another version of isl.

[2019-08-13 07:31] Furniel commented on #486
Looks like i missed something. Isl 0.18 can be used for gcc 5.5. I need to recheck gcc 6x branch for isl version compability and after that i'll fix this bug

[2019-08-13 12:20] eldiener commented on #486
Thanks for the fix. I can assert that building gcc-6.5 works with isl 0.19. I haven't tried to build gcc-6.1 to gcc-6.4 with isl 0.19, since those other releases were part of the mingw-w64-install releases and I did not need to build them for myself.

[2019-08-13 12:22] eldiener commented on #485
OK, thanks !

[2019-08-13 12:22] #485 closed

[2019-08-13 22:09] mity opened #488 "[gcc-9.2.0; branch develop] Binutils build error"
I'm trying to build gcc-9.2.0 on 64-bit Windows 10 with the following command:

[code]

All goes fine until the `binutils` is being built. That fails with the following (all the contents of `C:\msys64\home\Martin\mingw-gcc-9.2.0\prerequisites-logs\i686-binutils-2.32-nomulti\make.log`):

[code]

Any idea?

[2019-08-13 23:32] mity commented on #488
A mass update of msys2 package and trying to build again from scratch seems to fix it for me. So I assume there was something wrong with my msys2 setup.

Sorry for the noise.

[2019-08-13 23:32] #488 closed

[2019-08-14 04:38] eldiener commented on #486
I am still seeing a different error when building gcc-5.5.0. When --arch=i686 I am getting an error building gdb of:

[code]
but when I build with  --arch=x86_64 thje build is ssuccessful. Looking at the source file where the error is occurring we have the innocuous:

[code]

Searching where 'to_string' exists in the standard library of the mingw32 compiler you are using to build I see it is in 'b

[2019-08-14 06:33] 2underscores-vic opened #489 "gcc-9.2.0: libffi/fix_return_size.patch, error=1"
[code]

[code]

[2019-08-14 07:32] niXman commented on #489
@Furniel did you manage to build gcc-9.2?

[2019-08-14 07:36] 2underscores-vic commented on #489
You mean gcc compiler per se? Yes

[code]

But then `build` script fails

[2019-08-14 07:49] Furniel commented on #489
Yes, https://github.com/Furniel/mingw-builds/releases/tag/gcc-9.2.0

[2019-08-14 15:43] Furniel commented on #486
@eldiener
Hm, we can add -std=c++11 -D_GLIBCXX_USE_C99 flags to fix gdb 8.3 builds on old gcc versions, but i think than better way is to revevert gdb to 7.12 for gcc 4 and 5

[2019-08-14 17:19] Eric-Vignola commented on #489
@Furniel

can you share the exact command you used to build x86_64-9.2.0-release-win32-seh-rt_v6

[2019-08-14 17:46] Furniel commented on #489
@Eric-Vignola
./build --mode=gcc-9.2.0 --buildroot=/c/mingw920 --threads=win32 --exceptions=seh --arch=x86_64 --rt-version=v6 --jobs=8 --bin-compress
Bootstrapped builds will be later(they need too many time to build)

[2019-08-14 18:24] Eric-Vignola commented on #489
@Furniel thanks i'll give it a try later with --bootstrap (or should i do --bootstrapall?, can't tell the difference anymore)

My goal, ultimately, is to build a static toolchain that links against Visual Studio 2015 [using steps outlined here](https://www.spiria.com/en/blog/desktop-software/building-mingw-w64-toolchain-links-specific-visual-studio-runtime-library) with a few tweaks (article instr

[2019-08-14 18:35] eldiener commented on #486
Thanks ! I will get the latest fix and test. I am curious though why gdb 8.3 for 5.5.0 failed for i686 while x86_64 succeeded. Does anybody know ?

[2019-08-14 21:54] eldiener commented on #486
Both gcc-5.5.0 i686 and x86_64 built successfully with the latest fix. Thanks !

[2019-08-15 04:50] niXman commented on #486
great!

close please.

[2019-08-15 13:23] #486 closed

[2019-08-16 04:22] Eric-Vignola commented on #489
@Furniel When running your command i see the toolchain that gets pulled is
*7.2.0*. Is this normal?

$ ./build --mode=gcc-9.2.0 --threads=win32 --exceptions=seh --arch=x86_64
--rt-version=v6 --jobs=8 --bin-compress --enable-languages=c,c++,fortran
-> Checking OS bitness... 64-bit
-> Checking OS type... MINGW32_NT-10.0-17134
-> Checking for installed packages... done
-> x86_64 toolchain
*--> x86_64

[2019-08-16 04:28] Furniel commented on #489
@Eric-Vignola
Yes, gcc 7.2 is used as base gcc for compilation of target gcc

[2019-08-16 07:01] 2underscores-vic commented on #489
What about my issue? What is 'level for patch'?

[2019-08-16 07:20] Furniel commented on #489
@2underscores-vic
Can reproduce, but can you check this patch version? Extract and replace patch in mingw-builds\patches\libffi\
[fix_return_size.zip](https://github.com/niXman/mingw-builds/files/3508460/fix_return_size.zip)

If that won't help you can apply patch manually and comment out "libffi/fix_return_size.patch" in mingw-builds\scripts\libffi.sh

[2019-08-16 07:50] 2underscores-vic commented on #489
libffi-3.2.1.tar.gz-unpack.log:
[code]
The file was in tar format w/o gzip... (but still named libffi-3.2.1.tar.gz)

I removed the file and now
[code]

Thank you for feedback!

[2019-08-16 07:50] #489 closed

[2019-08-24 20:14] eldiener opened #491 "Building 32-bit code with 64-bit compiler"
My 64-bit versions of mingw-w64/gcc are all built ( or installed ) with threads=posix and exceptions=seh. Yet if I try to create 32-bit code with such a 64-bit version it always fails at the link step, not finding the necessary 32-bit libraries. I suspect this is because the 64-bit compiler version does not have multilib support. Yet when I look at the options for building it tells me that the def

[2019-08-24 20:21] niXman commented on #491
right, because there is no SEH implementation for 32-bit.

you can build the 64-bit multilib compiler when exceptions=sjlj

[2019-08-24 20:30] niXman commented on #491
and yes - SJLJ exceptions are very slow, but if you program using C - it doesn't matter.

[2019-08-24 21:54] eldiener commented on #491
I am programming C++. Does the sjlj exception model slowdown affect the speed of processing when an exception is not occuring ?

[2019-08-24 22:00] eldiener commented on #491
Never mind I found the info I wanted.

[2019-08-24 22:00] #491 closed

[2019-10-17 13:18] Prince213 opened #492 "gcc-9.2.0 test failures"
I'm building toolchains with this command: `$ ./buildall gcc-9.2.0 --no-multilib --no-extras --jobs=6 --rt-version=trunk --with-default-msvcrt=ucrt --threads=posix --enable-languages=c,c++`
The build process was fine but all toolchains weren't able to pass the test `time_test`.
The error was: `Assertion failed: rc == -1 && (errno == EINVAL) , file E:/mingw-builds/tests/time_test.c, line 146`
Log:

[2019-10-17 13:29] niXman commented on #492
Hi,
I think the cause of the problem is `--rt-version=trunk --with-default-msvcrt=ucrt`
try to use `--rt-version=v6` instead
if I'm right - you should email to the MinGW-W64 CRT developers: https://sourceforge.net/p/mingw-w64/mailman/mingw-w64-public/

[2019-10-17 13:38] Prince213 commented on #492
I have already tried `--rt-version=v6 --with-default-msvcrt=ucrt` and `--rt-version=v6.0.0 --with-default-msvcrt=ucrt` before, but got the same issue.

[2019-10-17 13:44] niXman commented on #492
try without `--with-default-msvcrt=ucrt`

[2019-10-18 09:21] Prince213 commented on #492
Well, that problem disappeared, but got another problem: 32bit binaries couldn't pass the test `filesystem`.
Log(`filesystem.cpp-compilation.log`):
[code]

[2019-10-18 10:38] Prince213 commented on #492
Update: It seems that the problem has been recorded at https://github.com/msys2/MINGW-packages/issues/5183 and was solved by https://github.com/mirror/mingw-w64/commit/0dfb3d3fac964de1080884863c0544f35ed424a5. but that commit is not on the `v6.x` branch. So building the toolchains with `--rt-version=trunk` will solve the problem? I'll build the toolchains soon to verify that.

[2019-10-18 13:53] niXman commented on #492
I don't know...

Let me know please.

[2019-10-18 23:05] Prince213 commented on #492
Problem disappeared. Thanks!

[2019-10-18 23:05] #492 closed

[2019-12-13 21:56] jeroen opened #494 "Failure in i686-830-posix-dwarf-rt_v5-s"
Testing:

[code]
Errors with:
[code]

[2019-12-13 21:58] jeroen opened #495 "Error in: i686-493-posix-dwarf-rt_v5-s"
Testing
[code]
Errors with:

[code]

[2020-01-01 05:27] MNRK01 opened #496 "Compiling gcc 9.2.0 with mingw-w64 v. 7.0.0 requires setting -D_FORTIFY_SOURCE=0"
This is already a well known issue but I cannot compile gcc 9.2.0 using the mingw-builds scripts and mingw-w64 rt=7.0.0 without setting the following flags:

[code]

The build fails at the compiling gdb stage with undefined references to __memcpy_chk and related functions.

Therefore a typical calling sequence that leads to successful compilation is:

[code]

I took my hints from [https://github.c

[2020-01-02 12:35] niXman commented on #496
thank you!

will fix it.

[2020-01-02 12:35] #496 closed

[2020-01-14 04:23] Eric-Vignola opened #497 "undefined resources cause gdb build failure"
On Win10 with msys2 64bit running this command:

./build --mode=gcc-9.2.0 --jobs=10 --arch=x86_64 --bootstrap

I've attached the complete build log, if you scroll to the very end you'll see ld.exe complains about undefined references to "__memcpy_chk", __strcpy_chk", "__memset_chk" and "__strcat_chk" in several .c files.

[make.log](https://github.com/niXman/mingw-builds/files/4057306/make.log)

[2020-01-14 07:12] niXman commented on #497
look at this: https://github.com/niXman/mingw-builds/issues/496

[2020-01-14 22:15] #497 closed

[2020-02-04 08:27] Prince213 opened #498 "x86_64 posix seh: `Pthreads are required to build libgomp`"
I'm trying to build static gcc with this command `./build --mode=gcc-9.2.0 --jobs=2 --no-multilib --no-extras --static-gcc --rt-version=v7.0.0 --with-default-msvcrt=ucrt --enable-languages=c,c++ --buildroot=/e/mingw920 --threads=posix --exceptions=seh --arch=x86_64`. And the script failed when building libgomp.
[config.log](https://github.com/niXman/mingw-builds/files/4152148/config.log) is attach

[2020-02-04 09:28] niXman commented on #498
This error indicates that libpthread.a previously been built by the compiler using SJLJ exceptions:

please remove the `E:/mingw920/x86_64-920-posix-seh-rt_v700-s` dir and start again.

[2020-02-04 11:28] Prince213 commented on #498
I've cleaned the entire build directory and started everything from the beginning, but I still got the same error.

[2020-02-04 12:12] niXman commented on #498
make sure the environment variables are not changed. for example, there should be nothing like "export CC=g++" etc

[2020-02-04 12:13] niXman commented on #498
or just reinstall MSYS2

[2020-02-04 12:16] Prince213 commented on #498
I had successfully built other toolchains before, so I guess the MSYS2 side is fine. Also I didn't do anything when the scripts were running.

[2020-02-04 12:17] Prince213 commented on #498
But anyway I'll just reinstall MSYS2 and see what will happen, hopefully that'll solve the problem.

[2020-02-04 12:18] niXman commented on #498
sorry, but I have no other idea...

[2020-04-04 09:25] Efreets opened #503 "Building GCC 9.3 meet some error"
Hi,
  Do you have some time to help me to solve the problem with building gcc 9.3 on windows?
  Thanks.

  Here was my information during Build gcc, how it makes, I'm my best to solve the error, but it's no work

  My configure is

../gcc-9.3.0/configure --host=x86_64-w64-mingw32 --build=x86_64-w64-mingw32 --target=x86_64-w64-mingw32 --prefix=/P/Efreets/gcc930/ --with-sysroot=/P/Efreets/gcc930/ --

[2020-04-08 09:19] niXman commented on #503
do you use mingw-builds scripts for building GCC?

[2020-04-10 19:14] eldiener opened #506 "Problem building 8.4.0 with revision v7"
When attempting to build, with your script, gcc-8.4.0 with the command line:

./build --arch=i686 --mode=gcc-8.4.0 --rev=0 --buildroot=$HOME/build/i686-8.4.0 --jobs=4 --rt-version=v7 --threads=posix --exceptions=dwarfseh --enable-languages=c,c++

or

./build --arch=x86_64 --mode=gcc-8.4.0 --rev=0 --buildroot=$HOME/build/x86_64-8.4.0 --jobs=4 --rt-version=v7 --threads=posix --exceptions=dwarfseh --

[2020-04-11 11:24] niXman commented on #506
https://github.com/niXman/mingw-builds/pull/499

@Furniel did you manage to build gcc-8.4.0 successfully?

[2020-04-12 02:36] eldiener commented on #506
No, I have not been able to build gcc-8.4.0 successfully. I see you have a PR for that and I will wait until that is merged to 'develop' and try again.

[2020-04-12 11:54] niXman commented on #506
@eldiener done

[2020-04-12 23:39] eldiener commented on #506
The PR allowed me to build 8.4.0 without problems.

[2020-04-12 23:39] #506 closed

[2020-04-13 07:08] niXman commented on #506
@Furniel thank you!

[2020-05-04 14:20] Efreets commented on #503
Thanks for your new mingw-builds Release 5.0,
I will try with it to build gcc 9.3,
but i found Your gcc script was not use the new just-real-time compress tool, which facebook
used ZSTD for Compiler compress code, and the make alway not change which the newer is
make 4.3.

[2020-05-05 08:51] niXman commented on #503
you're right, but patches are welcome.

[2020-05-05 16:03] niXman opened #509 "make it possible to cross-compile the toolchain from linux for windows"
subj.

look at this branch: https://github.com/niXman/mingw-builds/tree/cross-build

now I can build everything up to GCS stage.
then I faced with this error:
[code]

ATM I have no ideas why...

cmd line was used: `./build --mode=gcc-9.3.0 --arch=x86_64 --jobs=4 --rt-version=v7 --exceptions=seh --no-multilib --static-gcc --enable-languages=c,c++`

tested on ubuntu 18.04 using MinGW-W64 cross-compi

[2020-05-11 04:21] Efreets commented on #503
Thanks for you build script, it's help a lot.
Well, could you mind to update some tools to newer, like clang and make, it's too old.
And can you build an official mingw-w64 gcc compiler and upload to sourceforge.net,
it's will help a lots of people all over the world.
Thanks you for the efforts with your opensource work.
On my honor, respect your harding-working

[2020-05-11 10:31] niXman commented on #503
which branch do you use?

yes, I plan to continue to produce the official builds, but I will upload them to this project as releases, because the authors of the mingw-w64 project deprived me of access to the mingw-w64 project and for several months they never answered my letter....

[2020-06-02 13:46] ashe27 opened #511 "ignored the lndir command"
`--> download zlib-1.2.11.tar.xz... done
--> unpack zlib-1.2.11.tar.xz... done
--> patching... done
/home/JY/mingw-builds/library/functions.sh: line 676: lndir: command not found
--> configure...
error!`

the lndir command was ignored when checking the installation package

[2020-06-02 15:12] niXman commented on #511
https://github.com/niXman/mingw-builds/blob/master/library/config-win.sh#L81

[2020-06-12 15:41] #503 closed

[2020-06-21 23:34] labba opened #512 "issue with zlib"
i'm on windows 10 x64

trying to build the following:
./build --mode=gcc-8.4.0 --arch=x86_64

getting error on zlib that it's have wrong arguments when trying to run the test/example.c

[2020-06-22 14:28] kov-serg commented on #511
И почему в этом списке нет lndir ?

[2020-06-22 14:37] niXman commented on #511
because the one who implemented this feature (this was not originally, regular copying previously used) forgot to add `lndir`.

[2020-06-22 15:50] kov-serg commented on #511
What is preventing to fix it?

[2020-06-22 16:04] niXman commented on #511
because nobody did pull request =)

[2020-06-23 07:18] niXman commented on #512
try to uncomment `set MSYS=winsymlinks:nativestrict` line in the `msys2_shell.cmd` file and restart it as admin.

[2020-06-24 10:59] labba commented on #512
thanks!

done that and it moved on but later on failed during the gcc  compilation

-> gcc-8.4.0
--> download gcc-8.4.0.tar.xz... done
--> unpack gcc-8.4.0.tar.xz... done
--> patching... done
--> configure... done
--> building...

error!

in the log file the error i got are here in the attached files
[configure.log](https://github.com/niXman/mingw-builds/files/4824911/configure.log)

[make.log](ht

[2020-06-24 11:34] kov-serg commented on #512
niXman: May be you should hardcode __USE_MINGW_ANSI_STDIO into build script?
I think he has same issue with %llu and %llx
labba: try to erase intermediate files and compile with ./build --mode=gcc-8.4.0 --arch=x86_64 --rt-version=v7

[2020-06-24 12:10] niXman commented on #512
@labba please remove `/home/labba/mingw-gcc-8.4.0` dir and restart again as: `./build --mode=gcc-8.4.0 --arch=x86_x64 --rt-version=v7`

@kov-serg I think you are right, will do.

[2020-06-24 12:11] niXman commented on #512
no, I think be better to set `v7` as default version of used runtime...

[2020-06-24 12:29] niXman commented on #512
done: https://github.com/niXman/mingw-builds/commit/d4f95f264ce2f2a2fb05ca0ceef2a888b4c8222e

[2020-06-24 12:33] niXman commented on #511
done: https://github.com/niXman/mingw-builds/commit/1ced8e4788c99ce4bcce2e03dd47a8876a5f4e0f

[2020-06-24 12:33] #511 closed, assigned to nobody

[2020-06-24 21:29] labba commented on #512
i have deleted everything and used the new command line with the new option of --rt-version=v7 but still after trying to build gcc getting errors

please see here logs

[make.log](https://github.com/niXman/mingw-builds/files/4827968/make.log)
[configure.log](https://github.com/niXman/mingw-builds/files/4827970/configure.log)

[2020-06-24 22:15] kov-serg commented on #512
[code]
where is config.log

[2020-06-25 04:50] kov-serg commented on #512
remove all and reinstall msys2 and build script try again. I build it tonight with out problem.
[code]

[2020-06-28 06:24] labba commented on #512
for the 8.4.0 done the following:

i get this issue:

tried building the following:

still fail for me,

here is config log:
[config.log](https://github.com/niXman/mingw-builds/files/4842260/config.log)

can you please share your build system info ?
- OS ? bits ?
- msys version

also i have read in the "readme" that there is a need to change - are the following changes that need to be done are sti

[2020-06-28 20:33] kov-serg commented on #512
os: Windows 7x64 SP1
msys2: https://github.com/msys2/msys2-installer/releases/download/2020-06-02/msys2-x86_64-20200602.exe
script: https://codeload.github.com/niXman/mingw-builds/zip/develop

modify c:\msys64\msys2_shell.cmd
uncomment string with set MSYS=winsymlinks:nativestrict
unpacked script to c:\msys64\home\user\mingw-build-develop
msys2 shell should be run as admin or hardlinks will not wo

[2020-06-29 17:27] labba commented on #512
amazing now its working like it should!
i guess the issue was indeed related to the "mingw64" folder .. i have renamed it and it continue to compile well

i have installed a VM with the same OS as you have and done the following:

[code]

[2020-06-30 13:13] #512 closed, assigned to nobody

[2020-06-30 15:38] labba opened #513 "issue building plugin"
now that i know how to compile the environment, i have added to the configuration "--enable-plugin" and recompiled it successfully.

to create plugin there is a need to compile it as follow:

first need to locate the plugin dir:
[code]

after locating the plugin dir, i have converted the "/" to "\\" and compile a plugin example:
while set the plugin dir to the variable ${PLUGIN_DIR}

[code]

you c

[2020-07-01 07:48] niXman commented on #513
I think there is some kind of patch that is not used here...
or diff binutils/gcc options used...

[2020-07-01 07:55] labba commented on #513
this is the configuration of GCC i dont know how to get the configuration of binutils (if you will let me know i will post them as well):

[code]

i don't believe that the thread model is the one that makes the difference ..

when searching for "gmp.h" in the LH Mouse project i do locate it here:
`"mingw-w64-gcc-mcf_20200324_9.3.1_x86\mingw32\include\gmp.h"`

but in your project when i search for

[2020-07-01 08:50] niXman commented on #513
because he delivers these files in the final archive, but I do not. you are the first who need these files.

because you comparing the two diff folders: the first is the archive with the final build, but the second - is the temporary directory used during the build process.

[2020-07-01 09:25] labba commented on #513
thanks!
apparently,it is mandatory when developing plugins ..

what do i need to change in order to do all the copying of all the includes from all the packages to the include folder?

this is the lhmouse folder content:

mingw-w64-gcc-mcf_20200324_9.3.1_x86\mingw32\include

[code]

[2020-07-02 05:33] labba commented on #513
copying the needed include won't be enough .. even when i copy the required missing header it's still give me the same error that it's not found .. any idea why ?

[2020-07-02 09:25] niXman commented on #513
I don’t remember what to copy and where, I need to figure it out myself, but I don’t have time now, sorry...

[2020-07-02 10:22] niXman commented on #513
@labba can you provide me an archive of the build directory? I think it is `$HOME/mingw-gcc-8.3.0`

[2020-07-03 06:34] labba commented on #513
thanks for the help!

i have uploaded it here: https://mega.nz/file/nkhkQAzB#ZLuspa19Qvqrx8nTriChm6Wm4nJtiW2SSUVEAo8h7fk

[2020-07-10 12:05] labba commented on #513
hi,
any luck with what i have uploaded ?

[2020-07-10 13:16] niXman commented on #513
sorry, was on vacation.

will check in the morning.

[2020-07-12 13:33] niXman commented on #513
I think you need to copy the headers from `/mingw-gcc-8.3.0/prerequisites/x86_64-w64-mingw32-static/include` into target `mingw64/x86_64-w64-mingw32/include` and libs from `/mingw-gcc-8.3.0/prerequisites/x86_64-w64-mingw32-static/lib` into target `mingw64/x86_64-w64-mingw32/lib`

[2020-07-13 05:59] labba commented on #513
i will give it a try and will update
Thanks!

[2020-07-13 06:31] labba commented on #513
ok it did worked but i gotten a warning that i have never gotten before:

[code]

usually in the other compilation environment i never get any warnings .

[2020-07-13 08:23] niXman commented on #513
please provide me the source code of your plugin and command line you use for compiling it.

[2020-07-13 13:21] labba commented on #513
i gave everything in the very first post of the question the source and the commands i have done.
re-posting it again:

to create plugin there is a need to compile it as follow:

first need to locate the plugin dir:
[code]
now that we have the plugin dir we can use it so i saved it to a var named: ${PLUGIN_DIR}
and now we can compile the plugin

you can see the source code for the example here:
ht

[2020-07-18 23:03] labba commented on #513
any luck reproducing the issue ?

[2020-07-19 04:28] longnguyen2004 opened #514 "Undefined reference to `sys_siglist' when building binutils"
I'm not sure what caused this, does anyone know?

[2020-07-19 10:51] kov-serg commented on #514
LTO cause https://gcc.gnu.org/legacy-ml/gcc/2015-05/msg00084.html

[2020-07-20 03:12] longnguyen2004 commented on #514
Maybe we should remove LTO from the script, since there are way too many problems with it (`sys_siglist`, `strndup`,...)

[2020-07-20 03:12] #514 closed, assigned to nobody

[2020-08-06 15:21] petkapou opened #515 "Broken executables with --static-gcc"
I´m trying to build static gcc with command `./build --jobs=4 --mode=gcc-9.3.0 --arch=x86_64 --rt-version=v7 --static-gcc --enable-languages=c,c++ --threads=posix --exceptions=seh --buildroot=/c/mingw930`
I also tryied to build gcc-7.4.0 and 7.3.0 and I got the same error.
I found issue with similar logs, but different issue in config.log:
#407
Here are my logs:
[code]
log of C:\mingw930\x86_64-93

[2020-08-06 15:38] theodelrieu commented on #515
I've got exactly the same problem, impossible to link any binary, `ld` returns 53, I'm struggling to find a way to make it verbose...

[2020-08-07 02:48] eldiener opened #516 "gcc 10.2 is out"
The gcc-10.2 is out as of 07/23. It would be nice to get a mingw-build for this new release.

[2020-08-08 10:35] #516 closed, assigned to nobody

[2020-08-10 06:56] petkapou commented on #515
@theodelrieu Any progress on your side?
I successfully built gcc 7.4.0 9.3.0 and 10.1.0.
I only made 2 changes on my PC:
+ Installed OpenJDK and set JAVA_HOME
+ Enabled long paths

I suppose java has no effect and that it is just a thing of long paths.

[2020-08-10 09:14] theodelrieu commented on #515
@petkapou The problem with the built `ld.exe` is that it cannot find `libwinpthread-1.dll`, which is weird, since the script built it a few steps before.

Going back to digging...

EDIT:
Indeed, I can find the built winpthread libs, but they're static. I'll try to rebuild it with dynamic deps.

EDIT2: passing `--dyn-deps` does not change anything... here is the command line I use:

EDIT3:

I insta

[2020-08-12 05:18] Prince213 opened #520 "--with-default-msvcrt=ucrt breaks libgomp build"
Command: `./build --mode=gcc-10.2.0 --buildroot=/e/mingw1020 --no-multilib --no-extras --jobs=6 --rt-version=v7.0.0 --with-default-msvcrt=ucrt --enable-languages=c,c++ --threads=posix --exceptions=seh --arch=x86_64 --bin-compress`
Log:
[code]

[2020-08-12 06:31] niXman commented on #520
https://stackoverflow.com/a/55099671

[2020-08-12 06:38] Prince213 commented on #520
Well, I think the problem is caused by _UCRT...

[2020-08-12 06:40] Prince213 commented on #520
[code]

[2020-08-12 06:44] niXman commented on #520
I think it should be `#if defined(_UCRT) && !defined(__USE_MINGW_ANSI_STDIO)`, right?

[2020-08-12 06:50] Prince213 commented on #520
IDK :( . the second answer to the Stack Overflow question says:

[2020-08-12 06:52] niXman commented on #520
ah right

[2020-08-12 07:24] Prince213 opened #521 "Wrong --prefix for GCC"
See:
- https://github.com/niXman/mingw-builds/blob/develop/build#L515
- https://github.com/niXman/mingw-builds/blob/develop/scripts/gcc-10.2.0.sh#L72

Should be `$BASE_BUILD_DIR/mingw$(func_get_arch_bit ${BUILD_ARCHITECTURE})` or `$PREFIX`.

[2020-08-12 07:30] niXman commented on #521
can you please show the output for each expression?

[2020-08-12 07:33] Prince213 commented on #521
[code]

[2020-08-12 07:39] Prince213 commented on #521
Since other package installs to `$PREFIX`, I would prefer `$PREFIX`. But that makes it confusing why https://github.com/niXman/mingw-builds/commit/1b4471dc2ebd2b298e9f3ba5f368167f20916599 exists in the first place.

[2020-08-12 08:01] Prince213 opened #522 "Wrong isl version for GCC 10"
See https://github.com/niXman/mingw-builds/blob/develop/scripts/isl.sh#L47.
PR: #523 .

[2020-08-12 09:25] niXman commented on #521
oh %)

I have no ideas...

[2020-08-12 09:28] niXman commented on #522
merged.
please close when finished.

[2020-08-12 10:15] #522 closed, assigned to nobody

[2020-08-13 08:36] niXman commented on #515
@petkapou @theodelrieu try to rebuild on the clean system with `--bootstrap` option.
ie: `./build --jobs=4 --mode=gcc-9.3.0 --arch=x86_64 --rt-version=v7 --static-gcc --enable-languages=c,c++ --threads=posix --exceptions=seh --buildroot=/c/mingw930 --bootstrap`

[2020-08-13 08:53] niXman commented on #498
@Prince213 try to rebuild using this cmdline: `./build --mode=gcc-9.2.0 --jobs=2 --no-multilib --no-extras --static-gcc --rt-version=v7.0.0 --with-default-msvcrt=ucrt --enable-languages=c,c++ --buildroot=/e/mingw920 --threads=posix --exceptions=seh --arch=x86_64 --bootstrap`

[2020-08-13 09:21] Prince213 commented on #498
Why `--bootstrap`?

[2020-08-14 06:53] petkapou commented on #515
@niXman

I imported clean windows VM. Installed MSYS2. Deleted mingw64 and mingw32. Cloned repo and switched to develop. Run the pacman -S packages. And run the command you wrote.

Unfortunately VM restarted in the middle of the night due to os updates, but it seems that all went well. Logs of libmangle are ok. Just to check that build is complete I paste this:
[code]
Also file `C:\mingw930\x86_64

[2020-08-14 07:04] niXman commented on #515
yes, looks like all is OK ;)

[2020-08-14 07:08] niXman commented on #515
can you please show me the content of the `tests` directory?

[2020-08-14 07:21] petkapou commented on #515
[code]

[2020-08-14 07:22] niXman commented on #515
yes, looks like all the tests was passed so the compiler should works

[2020-08-14 07:23] petkapou commented on #515
Thank you!

[2020-08-14 07:24] niXman commented on #515
np!

close this issue please.

[2020-08-14 07:26] #515 closed, assigned to nobody

[2020-08-14 07:29] niXman commented on #521
@Prince213 any news?

[2020-08-14 08:10] Prince213 commented on #521
None. Maybe we should just change it back to `$PREFIX`, what do you think?

[2020-08-14 08:16] niXman commented on #521
yes, we can try :)

[2020-08-26 12:49] guyutongxue opened #525 "[Solved] Error occurred while building gcc-10.2.0"
I tried to build gcc 10.2.0 with this script, but I ran into the same problem as #520 (something about `%llu`).

Here's my build command:
[code]

I tried changing `--with-default-msvcrt` option, but problem still exists.

I even tried just define `PRIu64` macro directly to `%I64u` unconditionally, but I got these errors:
[code]

I have no idea how to solve this...

[2020-08-27 13:05] niXman commented on #525
@Prince213 is there any progress related to this issue?

[2020-08-28 13:46] theodelrieu commented on #525
I have the same issue when building with gcc 9.3.0 64bit.

Command:

Output:

[code]

[2020-08-28 14:12] theodelrieu commented on #525
I guess I'll patch the script to remove Werror...

[2020-09-01 18:08] labba commented on #513
sorry for bothering on this again , but it's been a while i i thought maybe it was forgotten ..

[2020-09-02 13:41] theodelrieu commented on #525
Using `--bootstrap` fixes the issue, but it builds a whole lot a stuff

[2020-09-02 14:31] niXman commented on #525
I think we should make `--bootstrap` as default option (which will be disabled when `--no-bootstrap` is specified) because there are too many problems with this...

can you please provide such a fix?

[2020-09-02 15:15] theodelrieu commented on #525
@niXman Well, my bash skills are quite limited but I'll try.

EDIT: Nevermind, I have no idea how to do this arcanic stuff. I'll have to pass on that one, sorry!

[2020-09-02 15:20] theodelrieu opened #526 "[question] Is checking for existing gcc.exe really necessary?"
Hi,

I've been trying to package a mingw toolchain as a Conan package.

The thing is, I'm using a `msys2` package, and removing anything from this package (i.e. `/mingw32`, `gcc.exe`) is not possible, as it break boundaries between packages.

So what I've done is removing the checks in `library/config-win.sh` that try to locate `gcc.exe`, `i686-w64-stuff-gcc.exe`, and I've successfully built a too

[2020-09-02 17:38] niXman opened #527 "make bootstrap used by default, and instead add the option --no-bootstrap"
subj.

patches are welcome ;)

[2020-09-02 17:39] niXman commented on #525
got it, will do later: https://github.com/niXman/mingw-builds/issues/527

[2020-09-02 17:39] #525 closed, assigned to nobody

[2020-09-02 17:55] niXman commented on #526
this check is needed because the `configure` used by GCC for some reason prefers to use `gcc.exe` from the `/mingw/bin`/`/mingw32/bin`/`/mingw64/bin` directories, even when a different path is specified in the `PATH` env.

[2020-09-03 07:07] guyutongxue commented on #525
Sorry, I still can't build successfully with `--bootstrap` option on. :confused:

Command:
[code]
Error:
[code]
([Full log](https://paste.ubuntu.com/p/ZJ5mmNpgYy/))

@theodelrieu Did you do anything other than add `--bootstrap` option when you successfully built it?

[2020-09-03 07:50] theodelrieu commented on #525
@Guyutongxue I'm building GCC 9.3.0, maybe it's specific to 10?

[2020-09-03 07:51] theodelrieu commented on #526
Wouldn't it be preferable to patch the configure script instead of removing folders from `msys2`? I guess the hardest part is finding where to patch...

[2020-09-03 09:15] guyutongxue commented on #525
I've tried GCC 9.3.0 too, but those errors still exist:
[code]

[2020-09-03 09:33] theodelrieu commented on #525
Weird, did you erase everything else from previous builds?

[2020-09-03 09:49] guyutongxue commented on #525
Not. I'll try again later when I've cleaned up, thanks for the reminder.

[2020-09-03 16:35] guyutongxue commented on #525
Unfortunately, there are still same errors.
**EDIT:**
The final workaround is to add `-Wno-format` option when compiling C.
[code]
It's stupid, but it works.

[2020-09-07 08:21] niXman commented on #526
sorry, was on vacation.

yes, it's hard to understand what exactly needs to be patched...
the second difficulty is that the configure script is generated by autogen, and it can be quite different in each release. this can lead to the fact that we have to create a patch for each version!

[2020-09-07 08:28] niXman commented on #513
the easiest way is to set the compiler you built as the default compiler.
after that configure and build (`configure` ... && `make` && `make install`) the required libraries by specifying the required prefix.
for example: `configure --prefix=/my_mingw_root/x86_64-w64-mingw32`

[2020-09-07 08:35] niXman commented on #525
hmm...

[2020-09-07 09:02] theodelrieu commented on #526
Yuck indeed... But I'm afraid there is no easy solution to allow efficient packaging :/

[2020-09-07 12:15] niXman commented on #526
if you have no other questions, close the ticket please.

[2020-09-07 12:36] theodelrieu commented on #526
I don't have any questions left, I'll keep patching the `build` script to not look for `gcc.exe` et. al

[2020-09-07 12:36] #526 closed, assigned to nobody

[2020-09-07 13:36] niXman commented on #527
done.

https://github.com/niXman/mingw-builds/pull/528

[2020-09-07 13:36] #527 closed, assigned to nobody

[2020-09-19 12:30] niXman commented on #520
@Prince213 look at this: https://sourceforge.net/p/mingw-w64/bugs/853/

[2020-09-22 15:32] Biswa96 commented on #520
Try with this patch https://github.com/msys2/MINGW-packages/blob/master/mingw-w64-gcc/0020-libgomp-Don-t-hard-code-MS-printf-attributes.patch

[2020-10-18 07:12] revelator commented on #525
The problem comes from libgomp hardcoding the printf format, theres a patch that gets around that on the mingw-packages site.

[2020-10-22 11:48] torarnv opened #529 "Why is --enable-wildcard passed during build?"
Upstream mingw64 defaults to not expanding wildcards. Why does this build script enable them?

https://github.com/niXman/mingw-builds/blame/7f9ed8fd7fb221ba81d957602c7adc67b97b1341/scripts/mingw-w64-crt.sh#L76

[2020-10-23 08:18] niXman commented on #529
I don't remember why, it was done nine years ago =)

patches are welcome!
and please explain why wildcards should be disabled.

thanks.

[2020-10-23 08:42] torarnv commented on #529
Understandable 😊

Msys2 seems to do the same thing: https://github.com/msys2/MINGW-packages/blame/60c5854c234e18023812c86ac5e6d0b6b8d98a65/mingw-w64-crt/PKGBUILD#L52

Most likely based on inspiration from mingw-builds.

While llvm-mingw doesn't seem to: https://github.com/mstorsjo/llvm-mingw/blob/master/build-mingw-w64.sh

I'd stay the strongest argument is that mingw64 upstream defaults to not ex

[2020-10-25 09:23] kkoehne opened #530 "v4.3.5 is not tagged"
The binary packages for x86_64-8.1.0-release-posix-seh-rt_v6-rev0 claim that they were built with v4.3.5.

From build-info.txt:

{code}
version : MinGW-W64-builds-4.3.5
user    : nixman
date    : 05.12.2018-10:29:36 AM
{code]

Anyhow, there's no v-4.3.5 tag in the repository.

[2020-10-26 12:46] niXman commented on #530
looks like someone made a mistake...

[2020-10-26 13:32] niXman commented on #529
@torarnv  and? should we disable it or what?

[2020-10-26 13:33] niXman commented on #530
please close this issue.

[2020-11-02 11:50] #530 closed, assigned to nobody

[2020-11-02 11:50] #529 closed, assigned to nobody

[2020-11-08 00:03] labba opened #531 "i686 8.30 issue"
hi
i have succesfully built the x86_64 arch but when i try to build the i686 build i get an error.

this is the command line i executed:
./build --mode=gcc-8.3.0 --arch=i686 --rt-version=v7 --threads=win32 --enable-languages=c,c++

and you can find here the logs :
[make.log](https://github.com/niXman/mingw-builds/files/5505670/make.log)
[configure.log](https://github.com/niXman/mingw-builds/files/

[2020-11-08 08:54] niXman commented on #531
hi,

please `cd` into `/home/gcc/mingw-gcc-8.3.0/i686-830-win32-sjlj-rt_v7/build/gcc-8.3.0/i686-w64-mingw32/64/libgcc` dir and put `config.log` here.

thanks!

[2020-11-08 11:09] labba commented on #531
sure here you go:
[config.log](https://github.com/niXman/mingw-builds/files/5506221/config.log)

thanks!

[2020-11-08 13:54] niXman commented on #531
look at line 112 ;)

[2020-11-08 13:58] labba commented on #531
"Fatal error: no compiled in support for x86_64" ? but i have set the build command for compiling an i686 arch .
the tests are compiling with "-m64" and this is targeting i686 .. the test compilation are wrong. no ?

[2020-11-08 14:10] niXman commented on #531
try to rebuild using `--no-multilib` flag.

[2020-11-08 15:58] labba commented on #531
still fail with different error please see logs (let me know if you need other logs) thanks!

[make.log](https://github.com/niXman/mingw-builds/files/5506608/make.log)
[configure.log](https://github.com/niXman/mingw-builds/files/5506612/configure.log)

the end of the log shows warning  treated as errors:

[code]

[2020-11-08 16:05] niXman commented on #531
did you re-start the build from scratch?
you have to delete everything and restart the build from scratch. (`rm -rf /home/gcc/mingw-gcc-8.3.0`)

[2020-11-08 19:33] labba commented on #531
yes i made sure 2 times that indeed i start all over again.

i have also tried without the "--rt-version=v7" and use the default, but sadly gotten the same results.

[2020-11-09 16:18] niXman commented on #531
look at this please:
https://github.com/niXman/mingw-builds/issues/520
https://github.com/niXman/mingw-builds/issues/525

[2020-11-10 14:27] labba commented on #531
oh. so it's a known issue.

so i need to manually patch it ? or are you planning to incorporate/integrate it in the existing scripts in the near future ?

[2020-11-15 18:09] labba commented on #531
i have added the "0020-libgomp-Don-t-hard-code-MS-printf-attributes.patch" to the PKG_PATCHES that is in the gcc-8.3.0.sh. and putted it inside "mingw-builds\patches\gcc" and compilation now passes.

hope you can add this to your source as well so it would be maintained properly.

thanks!

[2020-11-26 13:32] niXman commented on #531
patches are welcome! ;)

[2020-12-05 13:43] Prince213 commented on #525
Fixed in #532 . No workaround is needed now.

[2020-12-05 16:37] Prince213 commented on #520
Errors related to env.c now disappears, but new ones come:
[code]

[2020-12-06 01:43] Prince213 opened #534 "bootstrapall"
Even if --bootstrapall is specified, gmp, mpfr and other libraries are not rebuilt with the new compiler. Is this expected?

[2020-12-06 03:19] Prince213 commented on #534
Never mind.

[2020-12-06 03:19] #534 closed, assigned to nobody

[2020-12-06 10:09] niXman commented on #531
@Prince213 should I close this?

[2020-12-07 09:18] Prince213 commented on #531
@niXman Yeah. Thanks.

[2020-12-07 09:27] #531 closed, assigned to nobody

[2021-01-20 13:34] guyutongxue opened #535 "Stucks in building binutils"
While I was trying to build `binutils`, I get stuck when executing the following command:
[code]
(Originally ld's Makefile from [here](https://github.com/bminor/binutils-gdb/blob/master/ld/Makefile.in#L2290))

I tried debugging this `genscripts.sh` with `-x` flag and found that it was stuck on script `ld/emultempl/pep.em`, line 20. (See [here](https://github.com/bminor/binutils-gdb/blob/master/ld/

[2021-01-21 04:03] guyutongxue commented on #535
OK, I got it. When the `cat`'s heredoc is longer than 65535 character, it will be stuck. Seems a bug of MSYS2?

[A minimal script](https://paste.ubuntu.com/p/zBq6htgJJg/) reproduces this issue.

[2021-02-04 05:30] Prince213 commented on #535
@Guyutongxue You might want to increase your pipe capacity.

[2021-02-05 18:49] lurobi commented on #535
I have found this issue as well.  I'm building on Windows with a fresh MSYS2 install and cannot get past the build of binutils.

@Prince213 How do you increase pipe capacity?  I've found solutions to change pipe size for a currently running process, but it isn't clear to me how I would do it for any new process spawned by the shell.

[2021-02-05 19:58] lurobi commented on #535
As a work around, I split the heredoc into two with a subshell.  The rest of the binutils build continued without issue.

[code]

Is there a way to patch binutils before the build to accomplish this?

[2021-02-06 01:16] Prince213 commented on #535
First add your patch here: https://github.com/niXman/mingw-builds/tree/develop/patches/binutils.
Then add path to your patch here: https://github.com/niXman/mingw-builds/blob/develop/scripts/binutils.sh#L55.

[2021-02-08 16:40] lurobi commented on #520
Just some extra information: I think I ran into a related issue.  I got: `unknown conversion type character 'l' in format"` in `gomp_fatal`

My build was: `./build --no-extras --mode=gcc-9.3.0 --arch=x86_64 --exceptions=seh --buildroot=....` (From mingw-builds:master) and it would not complete until I applied the patch noted by @Biswa96

[2021-02-08 21:26] niXman commented on #520
@lurobi  please try `develop` branch

[2021-02-08 21:26] niXman commented on #520
@Prince213 any ideas?

[2021-02-09 04:06] lurobi commented on #535
niXman: Pull request for binutils patch if you want it:

https://github.com/niXman/mingw-builds/pull/536

[2021-02-09 05:28] Prince213 commented on #520
@lurobi @niXman 7de159b732fd2f428048f0574a9c9124dd827774 should fix it, which is already on develop.

[2021-02-11 20:55] niXman commented on #520
@Prince213 thank you!

@lurobi can you confirm please?

[2021-02-12 01:52] lurobi commented on #520
Confirmed: I was able to build gcc 9 and 10 branches on develop because of
that patch.  I hit an unrelated issue which prevented me from compiling gcc
trunk.

I am not specifically setting that msvcrt flag if that is relevant.

On Thu, Feb 11, 2021, 2:56 PM niXman <notifications@github.com> wrote:

[2021-02-12 02:29] Prince213 commented on #520
@lurobi Please try with --with-default-msvcrt=ucrt as this problem is probably related to UCRT.

[2021-02-12 04:09] lurobi commented on #520
I am unable to compile gcc using `--with-default-msvcrt=ucrt` on develop on windows through MSYS2.  I am using a1c154f2 plus my fix for the binutils heredoc.

Command: `./build --mode=gcc-10.2.0 --buildroot=/home/luker/mingw1020 --no-multilib --no-extras --jobs=6 --rt-version=v7.0.0 --with-default-msvcrt=ucrt --enable-languages=c,c++,fortran --threads=posix --exceptions=seh --arch=x86_64 --bin-com

[2021-02-26 09:18] niXman commented on #535
@lurobi merged, thank you!

please close the issue if it solver.

[2021-02-26 09:19] guyutongxue commented on #535
Thank you very much!

[2021-02-26 09:19] #535 closed, assigned to nobody

[2021-03-31 16:03] Biswa96 commented on #520
To disable `-Werror` for UCRT GCC build, some workaround are added in this commit https://github.com/msys2/MINGW-packages/commit/5d82e17a56a3216a54dbb5924b92c96284ae5c97

[2021-04-08 07:15] lazka commented on #520
Here is the upstream fix: https://gcc.gnu.org/git/?p=gcc.git;a=commit;h=c51f1e7427e6a5ae2a6d82b5a790df77a3adc99a

[2021-04-13 19:01] sfan5 commented on #520
Seeing the same errors with gcc 10.3.0 and UCRT:
<pre>
In file included from /home/build/mingw-w64-gcc/gcc/libgomp/config/mingw32/affinity-fmt.c:68:
/home/build/mingw-w64-gcc/gcc/libgomp/config/mingw32/../../affinity-fmt.c: In function 'gomp_display_affinity':
/home/build/mingw-w64-gcc/gcc/libgomp/config/mingw32/../../affinity-fmt.c:388:22: error: unknown conversion type character 'l' in format [-

[2021-05-02 02:40] eldiener opened #538 "Gcc 11.1 is out"
Gcc 11.1 is out as of 04/27. Can we have support for it here please ?

[2021-05-02 13:23] bence42 commented on #538
FYI I tried, but python won't build.
Probably doesn't matter but I've used binutils 2.36.1 instead of 2.35.1, gmp 6.2.1 instead of 6.2.0 and mpc 1.2.1 instead of 1.1.0

[2021-05-02 13:36] Furniel commented on #538
Working on update, need some time to update all outdated utils and check all builds

[2021-05-02 13:46] bence42 commented on #538
@Furniel If you plan to update binutils to 2.36.1, it seems that the tk 8.6.10 needs to be patched. It looks like a bug in the handwritten assembly is triggered by the new ld. ( I might be wrong).
See https://github.com/tcltk/tk/pull/6/commits/892a3d64076baacbf011e008eda9a43660da05e5
Plus, it seems tkWin32Dll.c needs another fix from the tk 8.6.11 release. That was the reason for my above python b

[2021-05-27 23:36] #538 closed, assigned to nobody

[2021-05-27 23:38] eldiener opened #540 "Gcc 8.5"
Gcc 8.5 is out on May 14 ( https://www.gnu.org/software/gcc/gcc-8/ ).

[2021-05-28 08:27] hodgeheg99 opened #541 "issue building with the following options: ./build --mode=gcc-9.3.0 --arch=x86_64 --threads=posix --exceptions=sjlj --enable-languages=c,c++"
Hi, I am attempting to build a dual targeted version of the mingw compiler using your scripts.
I followed your readme and used the following command in msys2:

`./build --mode=gcc-9.3.0 --arch=x86_64 --threads=posix --exceptions=sjlj --enable-languages=c,c++`

Here is the output that I get:

`$ ./build --mode=gcc-9.3.0 --arch=x86_64 --threads=posix --exceptions=sjlj --enable-languages=c,c++
-> Che

[2021-05-28 13:17] niXman commented on #540
@eldiener https://github.com/niXman/mingw-builds/pull/542

[2021-05-28 13:59] #540 closed, assigned to nobody

[2021-06-11 03:52] kapoisu opened #543 "bcrypt link error when building gdb"
I'm trying to build gcc-11.1.0 on Windows 10 with the following command:
[code]
There seems to be a link error when building gdb:
[code]
I wonder if gunlib configuration causes the problem?
[code]

[2021-06-17 15:21] Qwinci opened #544 "Building libiconv requires lib to be in msys2 path"
Building libiconv requires Microsoft Library Manager (lib.exe) to be in msys2 path, without it compilation will fail. Another minor issue was that at stage 'mingw-w64-runtime-post' tried to copy *.a files from the folder prerequisites/x86_64-libiconv-static/lib/
but there were only .lib files there which I needed to manually rename to *.a.

[2021-06-17 15:34] jcbrill commented on #543
I ran in to the same problem and may have found a workaround.

There is a gdb patch from October 2020 that appears to address this issue:

However, this patch and later modifications do not appear to be present in the gdb 10 branch or the 10.2 release.

The patch linked to above contains references to the following gdb files:
- gdb/ChangeLog
- gdb/Makefile.in
- gdbserver/ChangeLog
- gdbserver/Make

[2021-06-17 18:52] Qwinci commented on #544
EDIT: It seems like those errors were caused by having lto on.

[2021-06-17 18:52] #544 closed, assigned to nobody

[2021-06-19 02:55] kapoisu commented on #543
Thanks a lot! I've tried this solution and built successfully for gcc-11.1.0.

[2021-06-19 13:14] jcbrill commented on #543
You're welcome.  Until your response was posted, I didn't realize there was a spelling error for *dependencies* in the patch name and in the *gdb.sh* addition.

The corrected patch filename is attached for future reference:
[gdb-10.2-fix-gnulib-dependencies.patch.zip](https://github.com/niXman/mingw-builds/files/6680602/gdb-10.2-fix-gnulib-dependencies.patch.zip)

The following was added/corrected

[2021-06-20 11:40] beckerzito commented on #541
I'm having the same problem.

Any update on that?

[2021-06-21 10:55] labba opened #546 "build support installation behind proxy"
hi,

i have tried to install this build behind a proxy and gotten some interesting results that you might want to change in order to support the build behind a proxy. usually just adding to msys export for http/https proxy is enought but in the case of the build it's not.

1.  in many stages of the build, there is a use of:  "wget"  - this break the proxy - i solved this by manually going to "C:\m

[2021-06-21 13:03] niXman commented on #546
great!

patched are welcome ;)

[2021-06-21 13:05] niXman commented on #541
what branch was used?

[2021-06-21 13:06] niXman commented on #543
any news about the PR?

[2021-06-21 13:14] labba opened #547 ""expat.sh" pointing to a non-existing expat-2.2.9.tar.xz file"
when tried to compile gcc 8.3.0 i have gotten to an error and from some reason , the file "expat-2.2.9.tar.xz" doesn't exist anymore (i think there is only "lz" file) in the referenced address in the script:  https://sourceforge.net/projects/expat/files/expat/2.2.9/

i have found that the "xz" file does exist in the github: https://github.com/libexpat/libexpat/releases/tag/R_2_2_9

so this beak cu

[2021-06-21 13:21] jcbrill commented on #543
Preparing it now.  Will issue shortly...

[2021-06-21 13:25] niXman commented on #547
where did you find that version?
as far as I can see, the current expat version in use is 2.4.1: https://github.com/niXman/mingw-builds/blob/develop/scripts/expat.sh#L38

[2021-06-21 20:48] labba commented on #547
in the master of  https://github.com/niXman/mingw-builds/blob/master/scripts/expat.sh the version it try to download is 2.2.9 i took the master .. didn't know that i should take the develop one ..

[2021-06-22 08:00] niXman commented on #547
yes, the `master` branch contains releases only.

please close.

[2021-06-22 17:12] beckerzito commented on #541
Master

[2021-06-22 17:12] beckerzito commented on #541
@niXman I realized that it haves using the 'sjlj' exception model

[2021-06-25 12:01] nthung-2k5 opened #549 "Not found level for patch libiconv/0001-compile-relocatable-in-gnulib.mingw.patch, error=1"
When i run this: `./build --mode=gcc-11.1.0 --arch=x86_64 --exceptions=seh --rt-version=v7 --threads=posix --enable-languages=c,c++`, it returns the error above. Is there something wrong?
When i check the log file, it said:
`gzip: stdin: not in gzip format`
`tar: Child returned status 1`
`tar: Error is not recoverable: exiting now`

[2021-06-26 09:08] nthung-2k5 commented on #549
Nevermind, i found out what happened. I can't download the gcc 7.2 so i hard-coded the wget link, my bad.

[2021-06-26 09:08] #549 closed, assigned to nobody

[2021-06-26 12:00] niXman commented on #541
try `develop` branch

[2021-07-21 12:21] labba commented on #547
i have tried to build 8.3.0 from Develop branch and it fails.

build command:
./build --mode=gcc-8.3.0 --arch=i686 --threads=win32 --enable-languages=c,c++ --no-multilib

attached logs in zip file.
[log.zip](https://github.com/niXman/mingw-builds/files/6855596/log.zip)

many errors of "error: redefinition"

[2021-07-21 12:27] niXman commented on #547
please put the error messages here, dont hide it in the archive.

[2021-07-21 22:10] labba commented on #547
sure:
in the log found the following errors:

1)  ../../src/mingw-w64/mingw-w64-crt/libsrc/ws2tcpip/in6_addr_equal.c:9:5: error: redefinition of 'IN6_ADDR_EQUAL'

2) ../../src/mingw-w64/mingw-w64-crt/libsrc/ws2tcpip/in6addr_isloopback.c:19:5: error: redefinition of 'IN6ADDR_ISLOOPBACK'

3) ../../src/mingw-w64/mingw-w64-crt/libsrc/ws2tcpip/in6addr_isany.c:19:5: error: redefinition of 'IN6ADDR_ISANY

[2021-07-26 12:49] jrmoore commented on #498
I'm experiencing the same right now with the following selection of options:

`./build --mode=gcc-11.1.0 --arch=x86_64 --buildroot=/builds --exceptions=seh --no-multilib --static-gcc --jobs=8 --rt-version=v9.0.0 --with-default-msvcrt=ucrt --threads=win32 --march-x64=core2 --mtune-x64=skylake --enable-languages=c,c++ --no-extras`

I tried switching to POSIX threading, but it doesn't seem to change

[2021-07-26 16:37] jrmoore commented on #498
While the problem seems to be related to the `winpthreads` library (e.g., modifying the build scripts to build `gmp`, `isl`, `mpc` and `mpfr` in-tree doesn't work either), I wonder if the way in which the C runtime is linked to has something to do with it.

The log for that part (libgomp in the gcc build) shows undefined references to `__imp___iob_func` and `_setjmp` when linking to `libpthread.a`

[2021-07-27 10:20] niXman commented on #498
just try `--bootstrap` with clean scripts from the `develop` branch

[2021-07-27 11:35] niXman commented on #498
@Prince213 any luck?

[2021-07-27 18:08] jrmoore commented on #498
Why `--bootstrap` though? It's not an option the scripts recognize at the moment, there's `--bootstrapall`, which leads to the same problem and `--no-bootstrap` , which also leads there (the test for `pthreads` fails for `libatomic` too if building with many jobs).

Without using any of those options my build is being bootstrapped though, because I'm also using `--static-gcc`  (build script at lin

[2021-07-27 20:10] jrmoore commented on #520
Seeing the same error over here when not using `--static-gcc` trying to build with the following command line:

[code]

It seems another patch is necessary for that configuration to build, not that I'm interested in it, I'm trying to find the culprit for #498 and stumbled upon this, right now I can't find a way to build a toolchain using UCRT.

[2021-08-10 02:13] Prince213 opened #555 "LTO breaks binutils build"
While working on #498, I came across this when building binutils:
[code]
Which caused build failure of at least dwp.exe and ld-new.exe.
The commandline is `./build --mode=gcc-11.2.0 --arch=i686 --buildroot=/d/mingw-gcc-11.2.0 --exceptions=dwarfseh --use-lto --bootstrapall --no-multilib --no-extras --static-gcc --jobs=4 --rt-version=trunk --with-default-msvcrt=ucrt --threads=posix --bin-compress --

[2021-08-10 02:34] Prince213 commented on #498
This time with more errors:
[code]

Commandline: `./build --mode=gcc-11.2.0 --arch=x86_64 --buildroot=/d/mingw-gcc-11.2.0 --exceptions=dwarfseh --bootstrapall --no-multilib --no-extras --static-gcc --jobs=4 --rt-version=trunk --with-default-msvcrt=ucrt --threads=posix --bin-compress --enable-languages=c,c++`

[2021-08-10 03:10] Prince213 commented on #498
@jrmoore maybe related to this: https://github.com/mirror/mingw-w64/commit/af149abc81550de19a80fba0f9d0e89fe4d01f2f

Consider updating mingw-w64 version of your toolchain (the one used to build).

[2021-08-11 13:19] Prince213 opened #557 "Changing default branch to develop"
Current default branch is master, which is what users will see by default. It's often **outdated and doesn't contain the latest fixes**, so it would be nice if the default branch be changed to develop.
Also the master branch should probably be renamed to release to indicate it contains the same files as releases.

[2021-08-11 13:34] niXman commented on #557
you are right, will do!

thanks!

[2021-08-12 11:27] jrmoore commented on #555
Similar outcome here, I left the machine building at `j1` to have ordered logs overnight and the error I got with LTO is also in binutils, undefined references to `stpcpy`.

From what I could gather when I looked into it, it seems to be an old bug that was kind of diagnosed several years ago but was left open and unattended: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=66014

The source code has c

[2021-08-12 11:40] jrmoore commented on #498
I tried it already, I've gone through quite a lot of different starting toolchains (the default one, one built using these scripts (either Win32 or POSIX threaded), TDM's, possibly some other, can't recall). The one I'm using now was built using:

`--jobs=8 --buildroot=/z --mode=gcc-11.2.0 --rt-version=v9 --with-default-msvcrt=msvcrt --threads=posix --arch=x86_64 --march-x32=native --march-x64=nat

[2021-08-14 02:14] niXman commented on #557
done.

closed.

[2021-08-14 02:14] #557 closed, assigned to nobody

[2021-08-14 03:40] DynamicLoader opened #558 "Can't pass test when building i686"
HI,

I am trying to build MinGW-w64 i686 toolchain.With gcc11.2.0,both x86_64 and i686 is built normally,but i686 toolchain tests alway failed.The failed test is dll_test2,which is complied normally but executed failed with return code 3.Built with gcc11.1.0 is the same(test failed).
Built with posix.rt-v9.0.0

Any suggestion?

[2021-08-14 04:48] Prince213 commented on #558
Could you please paste your commandline here?

[2021-08-14 05:32] DynamicLoader commented on #558
Sure.I build this on Github actions,link [here](https://github.com/Lucy2003/MinGW-w64-ActionBuild/runs/3326511773?check_suite_focus=true)

Command line:`./build --mode=gcc-11.1.0 --arch=i686 --exceptions=dwarfseh --threads=posix --rt-version=v9.0.0 --enable-languages=c,c++ --jobs=2 --bin-compress --cflags="-Wno-format"`

[2021-08-15 10:48] NickCNA opened #560 "Code Profiler file "empty"."
I compiled a few GCC versions using MSYS2 / mingw-builds (develop branch) using the following command lines:

./build --mode=gcc-11.2.0 --arch=x86_64 --enable-languages=c,c++,fortran --buildroot=/f/Compiled/mingw64 --rt-version=v8 --exceptions=seh --jobs=24 --rev=0 --threads=win32 --bin-compress

./build --mode=gcc-11.2.0 --arch=x86_64 --enable-languages=c,c++,fortran --buildroot=/f/Compiled/mingw

[2021-08-16 18:04] niXman commented on #560
which one?

and provide me the info how can I reproduce the issue using that mingw

[2021-08-16 18:52] NickCNA commented on #560
It was this one that worked: https://github.com/MNRK01/myGCCBuilds/releases/download/10.3.0/x86_64-10.3.0-release-win32-seh-rt_v8-rev0.7z

The -pg compilation flag is used then, after the program was run, in Code::Blocks, Plugins > Code Profiler.

[2021-08-25 10:43] DynamicLoader commented on #558
Any progress?

[2021-09-07 03:49] MarkKoz opened #562 "Automatically apply patch to fix libgomp compilation errors"
[This](https://sourceforge.net/p/mingw-w64/bugs/853/) issue was reported and a patch was provided [here](https://sourceforge.net/p/mingw-w64/mailman/mingw-w64-public/thread/21abc969-03b2-4f89-de64-c58b3434f736%40gmail.com/#msg37201019). I had to use it to build GCC 6.5.0 successfully. It'd be nice if the build scripts for GCC could automatically apply this patch when it's needed. Of course the lin

[2021-09-07 04:16] MarkKoz opened #563 "No rule to make target build-x86_64-w64-mingw32/libiberty/pic/libiberty.a"
I'm using the latest ref in the `develop` branch (7187b70e953fa6c1d9fef47005c7385d80c64ddf at the time of writing) and running

[code]

It fails when building `gcc-6.5.0`:

[code]

I'm not sure if this is a configuration issue on my end, something wrong with the build scripts, or an upstream GCC issue. I came across three other people experiencing the same error ([1](https://sourceforge.net/p/ming

[2021-09-07 08:01] niXman commented on #562
but we have that patch too: https://github.com/niXman/mingw-builds/blob/develop/patches/gcc/0020-libgomp-Don-t-hard-code-MS-printf-attributes.patch

just add it to the gcc-6.5.0.sh script and do a PR.

[2021-09-07 08:40] niXman commented on #563
looks like yes because I have never seen this error before on 8/9/10 versions

[2021-09-07 16:53] MarkKoz commented on #562
Thanks. I didn't realise there were mechanisms already in place for doing this.

[2021-09-07 16:56] MarkKoz commented on #563
Unfortunately the bug reported in GCC's tracker hasn't had any response. Feel free to close this if you think there's nothing that can be done in the build scripts to fix this.

[2021-09-08 08:16] #562 closed, assigned to nobody

[2021-09-13 08:25] #563 closed, assigned to nobody

[2021-09-14 03:26] revelator commented on #558
sounds a bit like the problems we have on msys2 mingw32 with dwarf exceptions being broken in gcc-11. some headway has been made but need atleast binutils-2.37 because the older binutils do not support the new dwarf5 format correctly. Also building 32 bit ada is broken :/

[2021-09-14 06:29] niXman commented on #558
@revelator what should we do? any patches?

[2021-09-15 04:35] revelator commented on #558
atm still investigating, so far no luck unfortunatly :(. It has been reported upstream though it seems the gcc devs are also a bit baffled by this.

[2021-09-15 06:07] revelator commented on #558
strangely using an sjlj exception based gcc as bootstrap compiler allows the dwarf version to build.
ada will also work when done this way, but bootstrapping a build with this compiler will fail same as using any other dwarf exception based compiler for bootstrapping.

[2021-09-16 07:34] revelator commented on #558
well dwarf ada does in fact build when bootstrapped with the sjlj compiler but it does not work, compiling gprbuild segfaults the gnat compiler, the sjlj version does work though.

[2021-09-28 15:30] jbo-85 commented on #563
This was fixed upstream in GCC 11.x: https://gcc.gnu.org/bugzilla//show_bug.cgi?format=multiple&id=67275
patch: https://gcc.gnu.org/git/gitweb.cgi?p=gcc.git;h=c83027f32d9cca84959c7d6a1e519a0129731501
It's still broken in GCC 10 and probably all prior versions. I think it started when the build-script was changed to use --enable-host-shared in https://github.com/niXman/mingw-builds/commit/4b15c31ae

[2021-10-09 19:47] labba commented on #547
no news on this ?

[2021-10-13 09:39] niXman commented on #547
no, because the issue named as `"expat.sh" pointing to a non-existing expat-2.2.9.tar.xz` but the errors is about `mingw-w64-crt` project.

also over the past month in several tickets other users were able to successfully build mingw-w64, although initially they had problems with another.

[2021-10-15 08:49] #547 closed, assigned to nobody

[2021-10-25 08:33] labba commented on #547
ok i will try to re-build it again and report if i have any news or lack of them (meaning no issue was found)

thanks!

[2021-11-05 19:54] NikitaFeodonit opened #573 "Python 3 patches need to be updated"
Many patches do not match the Python 3.9.5 in the folder `patches/Python3`. The patches match the Python 3.4.3.

Please update them. Or restore Python to 3.4.3 and openssl to 1.0.2u (Python 3.4.3 can not be built with openssl 1.1+).

[2021-11-05 20:01] NikitaFeodonit commented on #573
Also I cannot ompile with Python 2.7.18, I get a build error in logs/Python-2.7.18/make.log:

[code]

My build script:
[code]

[2021-11-05 20:03] NikitaFeodonit opened #574 "build error in 'logs/Python-2.7.18/make.log': 'SIGWINCH' undeclared"
I cannot compile with Python 2.7.18, I get a build error in logs/Python-2.7.18/make.log:

[code]

My build script:
[code]

[2021-11-05 20:05] NikitaFeodonit commented on #574
I use the latest mingw-builds from develop branch.

[2021-11-06 09:04] niXman commented on #573
hi,

PR are welcome!

[2021-11-06 09:06] niXman commented on #574
hi,

very strange... because the builds was successfully finished on github actions: https://github.com/niXman/mingw-builds/actions/runs/1415861367

[2021-11-07 15:10] NikitaFeodonit commented on #574
I changed the root path from `E:/Dev/projects/MinGW-builds/msys64` to `E:/msys64` and deployed the MSYS2 and mingw-builds from scratch. All built successfully.

Maybe the length of the path had an impact.

I think this issue can be closed. Thanks.

[2021-11-07 15:11] niXman commented on #574
then close it please.

[2021-11-07 17:04] #574 closed, assigned to nobody

[2021-11-07 17:07] cristianadam commented on #558
GitHub Actions build is green at https://github.com/niXman/mingw-builds/actions/runs/1415861367 including i686.

The failure was due to ... `grep` version 3.6 that msys2 used to have. Latest msys2 grep package was downgraded to version `3.0` which works fine, as seen in the GitHub Actions build.

See https://github.com/msys2/MINGW-packages/issues/9771 for more details.

[2021-11-14 04:15] DynamicLoader commented on #558
Glad to know it.I will try it.

[2021-11-14 13:21] revelator commented on #558
aye was grep causing problems, luckily someone was awake and caught it :)

[2021-11-25 11:22] lgka commented on #494
I have the following error regarding libiberty:

Command:
` ./build --mode=gcc-8.1.0 --arch=x86_64 --buildroot=/home/admin/mingw-builds/root3`

Error:
[code]

[2021-12-02 09:49] ericLemanissier opened #575 "tag a new release"
Hi, It's awesome that this project gets built successfully by github actions !
Would it be possible to make a tag version ? [The last one](https://github.com/niXman/mingw-builds/releases/tag/v-5.0.0) is quite outdated now, and that would make binaries available at a stable URL (like https://github.com/cristianadam/mingw-builds/releases).
This would enable this new version to be packaged in conan,

[2021-12-02 14:49] TheShermanTanker opened #576 "Error while trying to build on Ubuntu"
[code]

[2021-12-02 16:03] niXman commented on #576
these scripts are not intended to be used on Linux.
I once started working on porting these scripts to Linux, but it was never finished.

but pull requests are welcome!

[2021-12-02 16:08] niXman commented on #575
unfortunately I'm not familiar with github actions...

@cristianadam can you help with this please?

[2021-12-02 16:15] ericLemanissier commented on #575
AFAIU, you just have to create a git tag starting with `v`, and github will do the right thing. @cristianadam already set-up a github actions which creates the release package and publishes it on github as part of https://github.com/niXman/mingw-builds/commit/c680028de456812c10c25ecef78107c06ea1550c

[2021-12-02 16:32] cristianadam commented on #575
The GitHub Actions yml file is doing the release, for https://github.com/cristianadam/mingw-builds/releases/tag/v11.2.0-rev1 I've done:

[code]
GitHub Actions will build the tagged commit, create a release, and upload the binaries.

Afterwards I edited the release page with the contents.

[2021-12-03 09:49] DynamicLoader commented on #558
Thank everyone.The issue has benn solved.

[2021-12-03 09:49] #558 closed, assigned to nobody

[2021-12-07 09:57] ericLemanissier commented on #575
FYI, I just did what @cristianadam described in the last message on my fork, tagging the last commit on develop as v9, and it nicely created https://github.com/ericLemanissier/mingw-builds/releases automagically , which are then easily packaged by conan.

[2021-12-07 10:58] cristianadam commented on #575
Please note that previously https://sourceforge.net/projects/mingw-w64/files/ got the version number from the GCC version. I also used the GCC version to tag my fork's [v11.2.0](https://github.com/cristianadam/mingw-builds/releases/tag/v11.2.0-rev1) release.

The previous tags https://github.com/niXman/mingw-builds/tags were independent from GCC or runtime versions. It doesn't look easy to pick a

[2022-01-03 11:56] ericLemanissier commented on #575
Happy new year every one ! @niXman how far do you think we are from tagging a new version ?

[2022-01-07 11:05] niXman commented on #575
@ericLemanissier @cristianadam

guys, perhaps it makes sense to create a separate github project (for example `mingw-builds-binary`, I can do it right now) and make the necessary changes to the github-actions script so that when creating a new GCC version tag, it downloads the latest version of the scripts and builds Mingw?

[2022-01-08 21:24] ericLemanissier commented on #575
That's a possibility, so the only source files in this repo would be the github action right?

[2022-01-08 22:45] niXman commented on #575
I think yes.

but we need to change the github-actions script so it downloads mingw-builds scripts too.

any suggestions how to name that project? I will create it.

[2022-01-08 22:50] niXman commented on #575
- mingw-builds-binary ?
- mingw-executables ?
- mingw-windows ?

[2022-01-09 08:02] ericLemanissier commented on #575
mingw-builds-binary sounds clearer to me. Or maybe mingw-builds-binaries? Or mingw-builds-builds ;)

[2022-01-09 08:28] niXman commented on #575
great, will do now!

[2022-01-09 08:30] niXman commented on #575
done: https://github.com/niXman/mingw-builds-binaries

[2022-01-11 15:10] ericLemanissier commented on #575
https://github.com/niXman/mingw-builds-binaries/releases/tag/11.2.0-rt_v9-rev0
Thanks !

[2022-01-11 15:10] #575 closed, assigned to nobody

[2022-02-08 10:19] cristianadam commented on #573
It looks like https://github.com/niXman/mingw-builds/pull/577 has brought Python3 support.

[2022-02-10 14:16] #576 closed, assigned to nobody

[2022-02-10 14:17] niXman commented on #573
so closed.

[2022-02-10 14:17] #573 closed, assigned to nobody

[2022-02-12 00:59] taurusxin opened #578 "undefined reference in gcc-11.2.0"
[code]

/home/TaurusXin/mingw-gcc-11.2.0/x86_64-1120-posix-seh-rt_v9-rev0/build/gcc-11.2.0/./prev-gcc/xg++ -B/home/TaurusXin/mingw-gcc-11.2.0/x86_64-1120-posix-seh-rt_v9-rev0/build/gcc-11.2.0/./prev-gcc/ -B/mingw64/x86_64-w64-mingw32/bin/ -nostdinc++ -B/home/TaurusXin/mingw-gcc-11.2.0/x86_64-1120-posix-seh-rt_v9-rev0/build/gcc-11.2.0/prev-x86_64-w64-mingw32/libstdc++-v3/src/.libs -B/home/TaurusXin

[2022-03-30 16:40] chris-se opened #580 "Building a toolchain based on UCRT"
I've recently been playing around with building a toolchain that uses Microsoft's "new" universal C runtime (UCRT) instead of the default toolchain that uses MSVCRT from VC6.

I've stumbled upon various issues that didn't work out of the box that also people beside me found.

## Primary Concern

The "starting point toolchain" for other builds is currently a precompiled version of GCC8 that was bui

[2022-03-31 11:09] starg2 commented on #580
I think the failure of tests/time_test.c is caused by mixing MSVCRT and UCRT.

`clock_settime` is provided by winpthread. When you build the intermediate toolchain, winpthread gets linked against MSVCRT. This means that when `clock_settime` sets errno, it sets the one in MSVCRT. Then `time_test.exe` checks UCRT's errno and causes assertion failure.

[2022-03-31 16:25] chris-se commented on #580
That actually makes a lot of sense. (I didn't know clock_settime was provided by winpthread, I'm mostly a user of MinGW, not an expert on its internals.) But since I'm not reusing the semi-working toolchain, but only using it to create the real one (where all unit tests pass) I think this is probably an acceptable thing.

[2022-04-01 07:56] kov-serg commented on #580
Is any sence in uing UCRT?

[2022-04-07 12:32] kov-serg opened #582 "expat-2.4.1 - disappears"
--> download expat-2.4.1.tar.xz...
error 8

https://sourceforge.net/projects/expat/files/expat/2.4.1/

expat-2.4.1-RENAMED-VULNERABLE-PLEASE-USE-2.4.7-INSTEAD

changing scripts/expat.sh to PKG_VERSION=2.4.7 cause:
Not found level for patch expat/expat_mingw_tests_fix.patch, error=1

[2022-04-07 17:41] cristianadam commented on #582
This is what the pull request at https://github.com/niXman/mingw-builds/pull/579 fixes.

[2022-04-08 13:05] niXman commented on #582
#581 was merged so this issue will closed.

[2022-04-08 13:05] #582 closed, assigned to nobody

[2022-04-08 13:07] niXman commented on #580
@chris-se could you please close this issue when the job (https://github.com/niXman/mingw-builds/actions/runs/2115280298) will completes successfully?

[2022-04-08 13:08] niXman commented on #580
I join this question.
could someone explain the meaning of using UCRT, or just provide a link to an explanation?
many thanks!

[2022-04-08 17:32] chris-se commented on #580
MSVCRT, the default underlying C runtime used by MinGW, is from a very old Visual Studio version. And while it is now present by default in all recent Windows versions, it is basically legacy code.

UCRT is now an operating system component in Windows (similar to libc on POSIX), is more conforming to the official C standard, and is also used by all Visual Studio versions since 2015. (Note that UCR

[2022-04-08 18:12] #580 closed, assigned to nobody

[2022-04-11 07:39] niXman commented on #580
@chris-se I understand, thanks for the clarification!
maybe it makes sense to use UCRT by default? what could be the problem in this case?

[2022-04-11 13:21] viccpp commented on #580
What about earlier versions? BTW, is WinXP still supported by MinGW?

[2022-04-11 18:00] kov-serg commented on #580
Yes. MinGW supports windows xp: [10.1](https://cloud.mail.ru/public/5CPy/2dJe1AHR3), [11.2](https://cloud.mail.ru/public/iKjR/SE3eESuAS)
But UCRT may not work on windows 7 оr 8, and even may not work on older windows 10 versions
Typical situation look like this:
![ucrt](https://user-images.githubusercontent.com/5946122/162799035-96fc954b-62a6-40b8-b5e9-baf8d60f8b12.png)
Declaring the noble goal of

[2022-04-12 06:06] chris-se commented on #580
There are redistributables from Microsoft for UCRT at least for Windows XP and later, and if your software still wants to support Windows versions older than 10, you'll need to also package it together with the corresponding redistributable. This is explained in the [Deployment and redistribution of the Universal CRT](https://docs.microsoft.com/en-us/cpp/porting/upgrade-your-code-to-the-universal-

[2022-04-12 10:56] kov-serg commented on #580
There is not. Just point me there I can get it. Or just find file api-ms-win-core-path-l1-1-0.dll
There is not such file in windows 10 and windows 11 but application works.

[2022-04-12 11:11] chris-se commented on #580
You'll have to use the redistributables for Visual C++ 2015 or higher from Microsoft.

The current version from the official website includes support for Visual C++ 2015 through 2022, and is available in both [32bit](https://aka.ms/vs/17/release/vc_redist.x86.exe) and [64bit](https://aka.ms/vs/17/release/vc_redist.x64.exe) versions. (Links are direct .exe download links, taken from [this website](

[2022-04-12 11:40] kov-serg commented on #580
That's why application will not start even with installed redistributables. That why people have to write [workarounds](https://github.com/kobilutil/api-ms-win-core-path-HACK)

ps: Image with error is from windows 7 with installed vs2019

[2022-04-12 11:54] niXman commented on #580
@chris-se

understand.

it would be great!
thank you for your contribution to the project!

[2022-05-01 13:42] MNRK01 commented on #578
Hello,

I am seeing something similar when I try to build ```gcc-11.3.0``` with ```ucrt```:

[code]

When I select ```--with-default-msvcrt=msvcrt``` the build process works fine.

Here is the relevant part of the make log:

[code]

[2022-05-01 13:50] niXman commented on #578
@taurusxin @MNRK01 please read: https://github.com/niXman/mingw-builds/issues/580

[2022-05-01 14:46] MNRK01 commented on #578
Thanks for that reference. I now understand the issues a little better. I need fortran to be part of my build, so I will stick with msvcrt until this is figured out.

Interestingly, the R Statistical Language released rtools42 toolchain as part of their R 4.2.0 release. They have migrated to using ucrt for their gcc10 based compilers providing mingw-w64 based ```gcc```, ```g++``` and ```gfortran``

[2022-05-01 20:59] MNRK01 opened #587 "Build fails at Python 3.9 configure stage"
I am trying to build gcc 11.3 with the following options:

[code]

All good until it enters the Python 3.9 stage when the build fails with the following configure.log.

[code]

Here's the config.log for the build:
[code]

I did install autoconf-archive, but that did not fix the issue and running autoreconf manually won't help since it will be overwritten when the script runs. Btw, it's great to se

[2022-05-11 10:17] NickCNA commented on #560
Solved: adding "-no-pie" to compiler and linker settings allows gprof to parse the gmon.out file correctly.

[2022-05-12 07:26] niXman commented on #560
great!

please close this issue.

[2022-05-12 08:27] NickCNA commented on #560
Closed accordingly.

[2022-05-12 08:27] #560 closed, assigned to nobody

[2022-05-12 08:51] NickCNA opened #589 "Patch Errors Compiling 12.1.0"
I tried to compile 12.1.0 and got patching errors with:

	gcc/gcc-libgomp-ftime64.patch
	gcc/0020-libgomp-Don-t-hard-code-MS-printf-attributes.patch
	gcc/gcc-10-libgcc-ldflags.patch

Commenting out these patches in 12.1.0.sh gave a compile error.

[2022-05-12 09:02] guyutongxue commented on #589
I've already tried a successful build of GCC 12.1.0. I had run into some patch errors, but I've fixed them in the PR.

My build arg is (likely):
[code]

So I don't know why you're experiencing these errors...

[2022-05-12 09:20] NickCNA commented on #589
I've purged the build directory and have started again with:

./build --mode=gcc-12.1.0 --arch=x86_64 --enable-languages=c,c++,fortran --buildroot=/h/Compiled/mingw64 --rt-version=v10 --exceptions=seh --jobs=24 --rev=0 --threads=win32 --bin-compress

[2022-05-12 11:50] NickCNA commented on #589
Failed again so I removed MSYS as well, reinstalled, reinstalled mingw-builds and was successful with the above command line.

[2022-05-12 11:50] #589 closed, assigned to nobody

[2022-05-13 09:14] #578 closed, assigned to nobody

[2022-05-28 05:47] Lixuhuilll opened #590 "--enable-languages=ada,c,c++,fortran,objc,obj-c++ need gant. But gnat have gcc & mingw. How do I set this up"

[2022-05-31 02:53] ghost opened #593 "How to build qt project in github action on windows os?"
[My project][1]

[main.yml][2] file.

[Creating a shared library][3]

I just followed the above document to create qt shared library.

I compiled this project with mac in github actions.  the compilation done in mac and linux with github action.

If I comes to windows it occured an errors.

    collect2.exe: error: ld returned 1 exit status

[My github action][4]

[Error on windows][5]

How can I

[2022-06-12 07:37] niXman commented on #593
a lot of people are successfully using these MinGW builds for Qt projects, so I think your question is worth asking in the forums...

sorry, closed.

[2022-06-12 07:37] #593 closed, assigned to nobody

[2022-06-12 07:40] niXman commented on #590
I'm not sure I understood your question correctly...

[2022-06-12 07:42] niXman commented on #587
looks like this was fixed with this(https://github.com/niXman/mingw-builds/pull/596/commits/6323d70f17803c7cb86b8cf28dc5ef4ae18712d5) PR.
try to rebuild.

[2022-06-15 12:27] MNRK01 commented on #587
Thank you! I was able to rebuild and get past the configure stage error so that PR helps. But now the build fails at a later stage. The relevant part of the make.log is:

[code]

It looks like ```_xxsubinterpreters.cp39-mingw_i686.def``` is not being found.

I can provide the entire ```make.log``` if that helps.

[2022-07-02 23:11] MNRK01 commented on #587
I dug in some more to figure out where the build is failing. It appears that ```_xxsubinterpreters.cp39-mingw_i686.def``` and other ```*.def``` files are not being written looking at the ```make.log``` that is generated.

[code]

I would have expected that the ```_xxsubinterpreters.cp39-mingw_i686.def``` file would we generated as part of a related ```*.pyd``` dynamic library generation ("building

[2022-07-14 19:20] augustosisa opened #602 "Reference to git.code.sf.net is broken in building process"
I had tried to build MinGW-gcc-4.x in Msys2 but during the process, I get an error related to connection issues, even though most of the packages before that call worked perfectly. I look for a file with that reference, but I didn't find it.

[code]

[2022-07-16 02:15] vszakats commented on #498
Bumped into the `_setjmp` issue. It requires UCRT, linking pthread statically, x86_64 and either the latest (as of this writing) [Homebrew mingw-w64](https://github.com/Homebrew/homebrew-core/blob/f5b7df43237be7faba53696fbbece7cda213200a/Formula/mingw-w64.rb) or [debian:testing mingw-w64](https://packages.debian.org/bookworm/mingw-w64). [Latest llvm-mingw](https://github.com/mstorsjo/llvm-mingw/re

[2022-07-19 02:49] rallenh commented on #602
@augustosisa ,

Can you provide the complete command? mingw-builds won't get git sources unless it's told to do so. The "normal" mode of using it, it downloads released tarballs from various places on the Internet.

In addition, for a GCC that old you are probably going to need to be specific about which mingw-w64 runtime you want. This could also be where mingw-builds is attempting a clone of a r

[2022-08-21 16:26] magicse opened #610 "OpenMP issue"
Hi thank You for Your work.
Windows 7 Core 2 Quard
MinGW64
GCC 12.1.0

I have some issue with OpenMP support.
When I compile the following example it works fine:
[code]
But when I try run compiled next example (Recursive QuickSort with OpenMP ). I get segmentation fault error.
I tried different examples of QuickSort with OpenMP and always I get segmentation fault error.

[code]

Also when I compil

[2022-08-21 18:33] #590 closed, assigned to nobody

[2022-08-21 18:40] niXman commented on #587
I don't think it is a configuration issue because I regularly produce mingw-builds builds (as example: https://github.com/niXman/mingw-builds-binaries/releases) using Github Actions but this is the first time I hear about this problem...

[2022-08-21 19:20] magicse commented on #610
If make this changes in source above, than it work correct with "OpenMP support" without fault error.
[code]

[2022-08-21 19:21] niXman commented on #610
great!

please close.

[2022-08-21 19:27] #610 closed, assigned to nobody

[2022-09-03 20:18] MNRK01 commented on #587
Interesting that your builds are running fine. My build runs flawlessly until it gets to python-3. I am using your scripts without modification.

I've been taking a closer look at the ```make.log``` and now notice that the true error occurred earlier in the make process than the ```_xxsubinterpreters.cp39-mingw_i686.def``` error that I noted earlier. I think this is the result of the make running

[2022-09-09 22:44] DarrenCHEN425 opened #614 "Compiling Error when using multithread"
First, I build x86_64-950-posix-seh-rt_v802-rev0 with the following script:

[code]

The provided toolchain is x86_64-8.1.0-release-posix-seh-rt_v6-rev0. No error occurred.

And then, I build x86_64-950-posix-seh-rt_v802-rev1 with the following script:

[code]

The provide toolchain is changed to x86_64-950-posix-seh-rt_v802-rev0, built as above. Errors occurred when building mingw-w64-crt:

[code

[2022-09-10 06:13] niXman commented on #614
hmm...
can it occurs because of some antivirus sw, or windows defender?..
I have no other ideas..

[2022-09-10 06:31] DarrenCHEN425 commented on #614
I use no antivirus sw or windows defender. When errors occured, I try again and get some other similar errors. I think some .o file may be compiled by some thread, and used by another thread. When .o file is required, it may not be generated.

Can someone try my steps to reproduce the errors?

[2022-09-11 12:27] niXman opened #615 "to test the my first build of windows hosted mingw-w64 using linux cross compiler"
hi!

@here

just now I have successfully build the my first build of windows hosted mingw-w64 targeting `x86_64, posix, seh, non-multilib` compiler using linux cross compiler!

it would be awesome if anyone can try to test it for use on windows for some of projects =)

Virus Total report: https://www.virustotal.com/gui/file/721b1209b9eca4391dc86aa56004a1a9136dec813a1ec1bac083395cfa200afc?nocache=1

[2022-09-16 10:43] starg2 commented on #546
I think that was fixed by #612.

[2022-09-16 12:19] niXman commented on #546
@labba could you please close the issue if is solved?

[2022-09-28 11:59] 3oheicrw opened #617 "How could I build a static GCC distro like the one on Equation.com?"
The GCC distro of Equation.com produces a fully statically linked binary that would run without any external DLLs (libgcc, libstdc++ and libwinpthread are all statically linked). I want to reproduce a GCC distro like this. Thanks.

[2022-09-28 12:23] #617 closed

[2022-10-10 20:51] JohannesKauffmann opened #618 "--buildroot does not recognize ~ as msys home directory"
Running `./build ... --buildroot=~/builddir` results in a `'~'` folder inside of the git clone, which has the `builddir` folder inside it.

Just something I noticed while running the script. Maybe I should've specified the absolute path, I don't know.

[2022-10-10 21:04] niXman commented on #618
hmm... will look at this later.

just specify the full path for now.

[2022-10-10 23:44] ghost commented on #615
@niXman Could you modify your scripts to be able to cross compile from Linux or any Unix-like environment?

[2022-10-10 23:48] ghost commented on #509
@niXman Is there any progress? I'm a pkgsrc user and I have built this cross compiler many times. I'm sure this is possible. Please have a look at this, maybe you could learn something: https://pkgsrc.se/cross/mingw-w64 The drawback of pkgsrc is it's overly complex, if you could get your scripts working then I definitely prefer yours from pkgsrc.

[2022-10-11 13:32] JohannesKauffmann commented on #618
I forgot to mention - this also makes the build fail, as the `builddir` is then also created inside the clone. While the `~/builddir` folder is created, it is completely empty.

But yes, it can be worked around with the full path.

[2022-10-11 13:52] JohannesKauffmann commented on #494
Unfortunately, same issue here with:
[code]

[2022-10-11 14:53] niXman commented on #615
yes, that is my plan!

but I have no free time atm... :(

[2022-10-11 14:58] niXman commented on #494
is there any reason to build so old version?
could you please try at least 8.5 please? because it was built fine: https://github.com/niXman/mingw-builds-binaries/releases/tag/8.5.0-rt_v10-rev0

[2022-10-11 20:06] JohannesKauffmann commented on #494
8.5 works also here, yes.

Since it is possible to select lower versions, I used it to try and reproduce compiler bugs which have been reported upstream at some project. Sometimes, you are stuck with an older compiler + patch release (e.g. Ubuntu 18.04 LTS with GCC 7.3.0), thats why I try to match their versions to reproduce on Windows also.

So it's not that important to get the 8.2.0 build fixed

[2022-10-20 08:51] niXman commented on #494
got it.

as a option you can try to fix 8.2 because once upon a time that version was successfully built.
I think it is because some changes in GCC configure options... AFAIR 8.4 have the same issue, but 8.5 - no!

[2022-10-20 09:05] niXman commented on #618
@here guys, could someone look at this issue pleased?
I'm so busy... :(
I think it can be solved by additional check for the first char, and when it is `~` - to use `$HOME` and to concat the rest of the string.
or be better to use `eval` after cutting `--buildroot=` prefix string between the lines 228 and 229 here: https://github.com/niXman/mingw-builds/blob/develop/build#L228

[2022-11-02 10:50] niXman opened #622 "C++ threads without winpthreads library"
Hello! @here

I just successfully build the `gcc-trunk` using the patch[1] provided by Eric Botcazou for inclusion in GCC.

the toolchain was configured as: `./build --mode=gcc-trunk --bootstrapall --jobs=4 --rev=0 --rt-version=v10 --threads=win32 --with-default-win32-winnt=0x0601 --exceptions=seh --arch=x86_64 --bin-compress --enable-languages=c,c++`

please test and report any issues!

the archi

[2022-11-02 11:52] niXman commented on #622
published: https://github.com/niXman/mingw-builds/commit/15add2aa0f91a9c46720cfd50ccd31f01866c8eb

will merge it later.

[2022-11-06 06:23] xtemp09 commented on #622
My hands are shaking. I feel like a little child. Thousands of chickens were sacrificed to please the dark gods. Now we have one abstraction layer less, the programs will be smaller and faster.

Even grass is greener! Twenty years ago we had snow in the end of September, now we have it in the end of November!

Though, one question remains, niXman, you compiled with `--threads=win32`, while LH prop

[2022-11-06 07:25] niXman commented on #622
=)

I don't want snow in September, too early =)

because LH proposed to replace winpthreads with mcfthreads and his proposal was not supported because it does not fix an existing problem, but is the same additional abstraction layer as winpthreads.

because of `libgomp.dll`, it requires pthreads API.

hmm... I don't know, I din't try to build with fortran for now.

because locally im still using

[2022-11-06 09:00] starg2 commented on #614
@WennerChen This should be fixed by #623.

[2022-11-06 20:16] #618 closed, assigned to nobody

[2022-11-07 22:19] starg2 commented on #622
Win32 native `std::thread` implementation is a long-awaited feature. Until that patch gets merged to GCC trunk, I would preserve the old win32 threading as-is, and would introduce a new threading model for this patch:

- `--threads=win32`: win32 without the patch
- `--threads=win32-eric`: win32 with the patch

[2022-11-08 02:33] DarrenCHEN425 commented on #614
@starg2  The problem is solved. Thanks very much.

[2022-11-08 05:09] #614 closed, assigned to nobody

[2022-11-08 05:12] #602 closed, assigned to nobody

[2022-11-08 05:15] #587 closed, assigned to nobody

[2022-11-08 05:19] niXman commented on #543
closed as solved.

thank you @jcbrill !

[2022-11-08 05:19] #543 closed, assigned to nobody

[2022-11-08 05:30] niXman commented on #622
@starg2

it will not be merged until it be tested, but no one reported back about any success/fail cases...
I think the only way to get any reports back is to deploy that patch as the current win32-threads builds and to wait for the reports =)

[2022-11-08 11:26] starg2 commented on #622
I see. In that case, I would add an option (which is enabled by default) to apply the patch.

Actually, I prefer MCF threading over this patch, but MCF isn't without its problems.

[2022-11-08 11:31] niXman commented on #622
then for what that option needed if it will be enabled by default?

[2022-11-08 11:33] starg2 commented on #622
I mean I still want a way to disable the patch.

[2022-11-08 11:34] niXman commented on #622
then it never be tested and accepted in GCC...

up
got it!
for some reason you need the ability to build without the patch?

[2022-11-08 17:48] starg2 commented on #622
Yes. If you decided to apply the patch unconditionally, it'd be fine anyway because I could manually revert it if necessary. It's just that I would provide an option if I were you.

----

What's your plan? Are you planning to release GCC 13 binaries with the patch and expecting it to be merged to GCC 14 or 15? Or are you going to release GCC 12.2.0 binaries with the patch backported and hoping it

[2022-11-08 17:59] niXman commented on #622
got it. I'll add the option.

correct.

no, let's leave 12.2.0 as is.
I will do it today or tomorrow.

thanks for your thoughts!

[2022-11-11 08:49] niXman commented on #622
@starg2 done: https://github.com/niXman/mingw-builds/pull/629

[2022-11-13 05:05] #622 closed, assigned to nobody